In [1]:
%store -r postcodes_to_SAs_2011
%store -r path_to_data

In [2]:
import pandas as pd

In [3]:
## import custom functions

from pathlib import Path
import sys

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import preprocessing

In [4]:
SDCC = pd.read_excel(
    path_to_data,
    sheet_name="SDCC",
)

SDCC.head()

  SMALL_AREA Post Code
0  267006001        16
1  267006003        16
2  267006002        16
3  267013012        16
4  267013013        16

In [5]:
SDCC["Post Code"].unique()

array([16, 'Co.Dublin', 22, 24, 20, 14, '6W', 12], dtype=object)

Convert to correct format by:
1. Convert name "SMALL_AREA" to "Small Area" & "Post Code" to "Postcodes"
2. Convert Postcodes column to correct format by applying match_to_full_Postcode_name_vectorized
3. Index by Postcodes

In [6]:
## Use function preprocessing.match_to_full_Postcode_name 
# to convert integer Postcodes etc. into correct format

SDCC.columns = ["Small Area", "Postcodes"]
SDCC["Postcodes"] = preprocessing.match_to_full_Postcode_name(SDCC["Postcodes"].values)
SDCC.set_index("Postcodes",inplace=True)

postcodes_to_SAs_2011 = postcodes_to_SAs_2011.append(SDCC)

print("Tail of SDCC")
display(SDCC.tail())

print("Tail of postcodes_to_SAs_2011 with SDCC")
display(postcodes_to_SAs_2011.tail())

Tail of SDCC

          Small Area
Postcodes
Dublin 12  267157002
Dublin 12  267157004
Dublin 12  267157007
Dublin 12  267157008
Dublin 12  267157003

Tail of postcodes_to_SAs_2011 with SDCC

          Small Area
Postcodes
Dublin 12  267157002
Dublin 12  267157004
Dublin 12  267157007
Dublin 12  267157008
Dublin 12  267157003

In [7]:
SDCC.index.unique()

Index(['Dublin 16', 'Co. Dublin', 'Dublin 22', 'Dublin 24', 'Dublin 20',
       'Dublin 14', 'Dublin 6W', 'Dublin 12'],
      dtype='object', name='Postcodes')

In [8]:
postcodes_to_SAs_2011.index.unique()

Index(['Dublin 14', 'Dublin 16', 'Dublin 18', 'Dublin 13', 'Dublin 15',
       'Co. Dublin', 'Dublin 22', 'Dublin 24', 'Dublin 20', 'Dublin 6W',
       'Dublin 12'],
      dtype='object', name='Postcodes')

16, 'Co.Dublin', 22, 24, 20, 14, '6W', 12

In [9]:
%store postcodes_to_SAs_2011
%store path_to_data

Stored 'postcodes_to_SAs_2011' (DataFrame)
Stored 'path_to_data' (str)