In [1]:
%store -r postcodes_to_SAs_2011
%store -r path_to_data

In [2]:
import pandas as pd

In [3]:
## import custom functions

from pathlib import Path
import sys

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import preprocessing

In [4]:
DCC = pd.read_excel(
    path_to_data,
    usecols = ["Post Code","Small Area Code"],
    sheet_name="DCC"
)

DCC.head()

  Post Code      Small Area Code
0         1            268139005
1         1            268139006
2         1  268139007_268139008
3         1            268139004
4         1            268106003

In [5]:
DCC["Post Code"].unique()

array([1, 2, 3, 4, 5, 6, '6W', 7, 8, 9, 10, 11, 12, 13, 17, 20],
      dtype=object)

In [6]:
## Use function preprocessing.match_to_full_Postcode_name 
# to convert integer Postcodes etc. into correct format

DCC.columns = ["Postcodes","Small Area"]
DCC["Postcodes"] = preprocessing.match_to_full_Postcode_name(DCC["Postcodes"].values)
DCC.set_index("Postcodes",inplace=True)

postcodes_to_SAs_2011 = postcodes_to_SAs_2011.append(DCC)

print("Tail of DCC")
display(DCC.tail())

print("Tail of postcodes_to_SAs_2011 with DCC")
display(postcodes_to_SAs_2011.tail())

Tail of DCC

          Small Area
Postcodes
Dublin 20  268037009
Dublin 20  268037005
Dublin 20  268037004
Dublin 20  268037013
Dublin 20  268037003

Tail of postcodes_to_SAs_2011 with DCC

          Small Area
Postcodes
Dublin 20  268037009
Dublin 20  268037005
Dublin 20  268037004
Dublin 20  268037013
Dublin 20  268037003

In [7]:
DCC.index.unique()

Index(['Dublin 1', 'Dublin 2', 'Dublin 3', 'Dublin 4', 'Dublin 5', 'Dublin 6',
       'Dublin 6W', 'Dublin 7', 'Dublin 8', 'Dublin 9', 'Dublin 10',
       'Dublin 11', 'Dublin 12', 'Dublin 13', 'Dublin 17', 'Dublin 20'],
      dtype='object', name='Postcodes')

In [8]:
postcodes_to_SAs_2011.index.unique()

Index(['Dublin 14', 'Dublin 16', 'Dublin 18', 'Dublin 13', 'Dublin 15',
       'Co. Dublin', 'Dublin 22', 'Dublin 24', 'Dublin 20', 'Dublin 6W',
       'Dublin 12', 'Dublin 1', 'Dublin 2', 'Dublin 3', 'Dublin 4', 'Dublin 5',
       'Dublin 6', 'Dublin 7', 'Dublin 8', 'Dublin 9', 'Dublin 10',
       'Dublin 11', 'Dublin 17'],
      dtype='object', name='Postcodes')

1, 2, 3, 4, 5, 6, '6W', 7, 8, 9, 10, 11, 12, 13, 17, 20

In [9]:
%store postcodes_to_SAs_2011

Stored 'postcodes_to_SAs_2011' (DataFrame)