In [7]:
%store -r Census_2011
%store -r SAs_in_Postcodes_2011

Merge
---

In [8]:
Census_2011.reset_index(inplace=True)

Census_2011["Small Area"] = Census_2011["Small Area"].astype('str')
SAs_in_Postcodes_2011["Small Area"] = SAs_in_Postcodes_2011["Small Area"].astype('str')

Census_2011_Linked = Census_2011.reset_index().merge(
    SAs_in_Postcodes_2011.reset_index(), on="Small Area", how="left"
)

Census_2011_Linked.drop(columns="index",inplace=True)

Census_2011_Linked

,Small Area,Dwelling Type,Period Built,Total Number of Households,Postcodes
0,267001001,Apartments*,1919 - 1945*,0.0,Co. Dublin
1,267001001,Apartments*,1946 - 1960*,0.0,Co. Dublin
2,267001001,Apartments*,1961 - 1970*,0.0,Co. Dublin
3,267001001,Apartments*,1971 - 1980*,0.0,Co. Dublin
4,267001001,Apartments*,1981 - 1990*,0.0,Co. Dublin
...,...,...,...,...,...
173011,268162018,Terraced house*,1981 - 1990*,1.0,Dublin 8
173012,268162018,Terraced house*,1991 - 2000*,0.0,Dublin 8
173013,268162018,Terraced house*,2001 - 2005*,0.0,Dublin 8
173014,268162018,Terraced house*,2006 or later*,3.0,Dublin 8
173015,268162018,Terraced house*,before 1919*,30.0,Dublin 8

Check for unmatched
---

In [9]:
# Find and set row Postcodes to unmatched!
mask1 = Census_2011_Linked["Postcodes"].isnull()
Census_2011_Linked.loc[mask1,"Postcodes"] = "Unmatched"

# Show unmatched rows
mask2 = Census_2011_Linked["Postcodes"] == "Unmatched"
Census_2011_Linked.loc[mask2]

,Small Area,Dwelling Type,Period Built,Total Number of Households,Postcodes
25092,267042001,Apartments*,1919 - 1945*,0.0,Unmatched
25093,267042001,Apartments*,1946 - 1960*,0.0,Unmatched
25094,267042001,Apartments*,1961 - 1970*,1.0,Unmatched
25095,267042001,Apartments*,1971 - 1980*,0.0,Unmatched
25096,267042001,Apartments*,1981 - 1990*,3.0,Unmatched
...,...,...,...,...,...
72823,267124010,Terraced house*,1981 - 1990*,0.0,Unmatched
72824,267124010,Terraced house*,1991 - 2000*,0.0,Unmatched
72825,267124010,Terraced house*,2001 - 2005*,0.0,Unmatched
72826,267124010,Terraced house*,2006 or later*,0.0,Unmatched
72827,267124010,Terraced house*,before 1919*,0.0,Unmatched

Reset the DataFrame index back to original
---

In [10]:
Census_2011_Linked.set_index(
    ["Postcodes", "Small Area", "Dwelling Type", "Period Built"], inplace=True
)

Census_2011_Linked.head(36)

                                                           Total Number of Households
Postcodes  Small Area Dwelling Type        Period Built
Co. Dublin 267001001  Apartments*          1919 - 1945*                           0.0
                                           1946 - 1960*                           0.0
                                           1961 - 1970*                           0.0
                                           1971 - 1980*                           0.0
                                           1981 - 1990*                           0.0
                                           1991 - 2000*                           8.0
                                           2001 - 2005*                          47.0
                                           2006 or later*                         8.0
                                           before 1919*                           0.0
                      Detached house*      1919 - 1945*                           0.0
                                           1946 - 1960*                           0.0
                                           1961 - 1970*                           0.0
                                           1971 - 1980*                           0.0
                                           1981 - 1990*                           0.0
                                           1991 - 2000*                           0.0
                                           2001 - 2005*                           0.0
                                           2006 or later*                         1.0
                                           before 1919*                           0.0
                      Semi-detached house* 1919 - 1945*                           0.0
                                           1946 - 1960*                           0.0
                                           1961 - 1970*                           0.0
                                           1971 - 1980*                           0.0
                                           1981 - 1990*                           0.0
                                           1991 - 2000*                           0.0
                                           2001 - 2005*                           1.0
                                           2006 or later*                         0.0
                                           before 1919*                           0.0
                      Terraced house*      1919 - 1945*                           0.0
                                           1946 - 1960*                           0.0
                                           1961 - 1970*                           0.0
                                           1971 - 1980*                           0.0
                                           1981 - 1990*                           0.0
                                           1991 - 2000*                           0.0
                                           2001 - 2005*                           0.0
                                           2006 or later*                         0.0
                                           before 1919*                           0.0

In [11]:
%store Census_2011_Linked

Stored 'Census_2011_Linked' (DataFrame)

In [12]:
%store -d Census_2011
%store -d SAs_in_Postcodes_2011