# 4_Sort_table_by_ID_Date.ipynb

In [2]:
## import libraries

import pandas as pd
import glob
# from tqdm import tqdm_notebook

from pathlib import Path
import sys

In [3]:
%load_ext sql
%load_ext lab_black

# Link to database

In [4]:
## import custom functions

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import paths

In [5]:
## Get path to processed data folder

path_to_processed_data_folder = paths.get_path_to_folder("processed")

path_to_processed_data_folder

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\inputs\\processed'

In [6]:
path_to_data_database = path_to_processed_data_folder + r"\data.db"

path_to_data_database

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\inputs\\processed\\data.db'

In [7]:
%sql sqlite:///$path_to_data_database

'Connected: @C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\inputs\\processed\\data.db'

In [8]:
%%sql 
SELECT * FROM electricity_data_raw
LIMIT 5

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
Done.

[('1392', 19503, 0.14, 195, 3, 2009, '2009-07-15', '01:30:00'),
 ('1392', 19504, 0.138, 195, 4, 2009, '2009-07-15', '02:00:00'),
 ('1392', 19505, 0.14, 195, 5, 2009, '2009-07-15', '02:30:00'),
 ('1392', 19506, 0.145, 195, 6, 2009, '2009-07-15', '03:00:00'),
 ('1392', 19507, 0.145, 195, 7, 2009, '2009-07-15', '03:30:00')]

# Create a new ordered table and delete raw data

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS electricity_data_ordered (
    ID TEXT,
    Date TEXT,
    Time TEXT,
    Consumption FLOAT
);

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
Done.

[]

In [10]:
%%time
%%sql

INSERT INTO electricity_data_ordered 
(ID, Date, Time, Consumption)
SELECT ID, Date, Time, Consumption FROM electricity_data_raw 
ORDER BY ID, Date, Time;

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
157992996 rows affected.
Wall time: 16min 41s

[]

In [11]:
# %sql DROP TABLE electricity_data_raw;

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
Done.

[]

In [12]:
%%sql 
SELECT * FROM electricity_data_ordered
LIMIT 5

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
Done.

[('1000', '2009-07-15', '00:00:00', 0.152),
 ('1000', '2009-07-15', '00:30:00', 0.117),
 ('1000', '2009-07-15', '01:00:00', 0.05),
 ('1000', '2009-07-15', '01:30:00', 0.025),
 ('1000', '2009-07-15', '02:00:00', 0.025)]

Source: https://stackoverflow.com/questions/4568154/sort-an-entire-sqlite-table