# 6_Create_table_avg_half_hourly_demand

In [1]:
%load_ext sql
%load_ext lab_black

In [2]:
from pathlib import Path
import sys

## import custom functions

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import paths

## Get path to processed data folder

path_to_processed_data_folder = paths.get_path_to_folder("processed")
path_to_data_database = path_to_processed_data_folder + r"\data.db"
path_to_data_database

In [7]:
%sql sqlite:///$path_to_data_database

'Connected: @C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\inputs\\processed\\data.db'

# Create Table containing average consumption of all IDs for each date, time

In [8]:
%%sql
CREATE TABLE IF NOT EXISTS electricity_average_consumption (
    Date TEXT,
    Time TEXT,
    Consumption FLOAT
);

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
Done.

[]

In [13]:
# %sql DROP TABLE electricity_average_consumption;

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
(sqlite3.OperationalError) no such table: electricity_average_consumption
[SQL: DROP TABLE electricity_average_consumption;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [9]:
%%time
%%sql

INSERT INTO electricity_average_consumption 
(Date, Time, Consumption)
SELECT Date, Time, AVG(Consumption) FROM electricity_data_ordered 
GROUP BY Date, Time;

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
25726 rows affected.
Wall time: 7min 46s

[]

In [10]:
%%time
%%sql

SELECT * 
FROM electricity_average_consumption
LIMIT 49;

 * sqlite:///C:\Users\RowanM\Documents\dublin_energy_masterplan\Residential\data\inputs\processed\data.db
Done.
Wall time: 0 ns

[('2009-07-15', '00:00:00', 0.5822443136631121),
 ('2009-07-15', '00:30:00', 0.5020396055352317),
 ('2009-07-15', '01:00:00', 0.4328597105137602),
 ('2009-07-15', '01:30:00', 0.38651121361539587),
 ('2009-07-15', '02:00:00', 0.35428805471608116),
 ('2009-07-15', '02:30:00', 0.3301503101638305),
 ('2009-07-15', '03:00:00', 0.32170462859869614),
 ('2009-07-15', '03:30:00', 0.31548528710036594),
 ('2009-07-15', '04:00:00', 0.3064940353109591),
 ('2009-07-15', '04:30:00', 0.30331429934786064),
 ('2009-07-15', '05:00:00', 0.3081631938921605),
 ('2009-07-15', '05:30:00', 0.30801272466995455),
 ('2009-07-15', '06:00:00', 0.31939605535231336),
 ('2009-07-15', '06:30:00', 0.35564036901542867),
 ('2009-07-15', '07:00:00', 0.39400445363448394),
 ('2009-07-15', '07:30:00', 0.45897630030220876),
 ('2009-07-15', '08:00:00', 0.5380063623349765),
 ('2009-07-15', '08:30:00', 0.62609273103229),
 ('2009-07-15', '09:00:00', 0.6996058533481774),
 ('2009-07-15', '09:30:00', 0.7748037219659638),
 ('2009-07-15', '10:00:00', 0.8130103387943395),
 ('2009-07-15', '10:30:00', 0.8549740734849711),
 ('2009-07-15', '11:00:00', 0.8676554795610002),
 ('2009-07-15', '11:30:00', 0.8866179417846362),
 ('2009-07-15', '12:00:00', 0.8859831398123111),
 ('2009-07-15', '12:30:00', 0.9028883410211548),
 ('2009-07-15', '13:00:00', 0.9189066327342116),
 ('2009-07-15', '13:30:00', 0.9018371242245925),
 ('2009-07-15', '14:00:00', 0.8511735326864964),
 ('2009-07-15', '14:30:00', 0.8654844918084952),
 ('2009-07-15', '15:00:00', 0.8537808175600449),
 ('2009-07-15', '15:30:00', 0.8536642277715939),
 ('2009-07-15', '16:00:00', 0.865023699697789),
 ('2009-07-15', '16:30:00', 0.9072564020995687),
 ('2009-07-15', '17:00:00', 0.943023063464293),
 ('2009-07-15', '17:30:00', 0.9944709718466663),
 ('2009-07-15', '18:00:00', 0.9870101797359637),
 ('2009-07-15', '18:30:00', 0.9256707491649425),
 ('2009-07-15', '19:00:00', 0.8885185303006194),
 ('2009-07-15', '19:30:00', 0.8588037219659582),
 ('2009-07-15', '20:00:00', 0.79605551137267),
 ('2009-07-15', '20:30:00', 0.7756305073962148),
 ('2009-07-15', '21:00:00', 0.7517443931923),
 ('2009-07-15', '21:30:00', 0.7631593764911727),
 ('2009-07-15', '22:00:00', 0.7579615078733886),
 ('2009-07-15', '22:30:00', 0.7841196118975652),
 ('2009-07-15', '23:00:00', 0.7566720216319358),
 ('2009-07-15', '23:30:00', 0.6767496421186582),
 ('2009-07-16', '00:00:00', 0.5911245229007646)]