In [1]:
import pandas as pd
import numpy as np

In [2]:
## import custom functions

from pathlib import Path
import sys

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import paths

In [3]:
path_to_Census_2011_Linked = paths.get_path_to_data('Census_2011_Linked.pkl') 

path_to_Census_2011_Linked

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\inputs\\processed\\Census_2011_Linked.pkl'

In [4]:
Census_2011_Linked = pd.read_pickle(path_to_Census_2011_Linked, compression='xz')

Census_2011_Linked

                                                      Total Number of Households
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                           0.0
                                      1946 - 1960*                           0.0
                                      1961 - 1970*                           0.0
                                      1971 - 1980*                           0.0
                                      1981 - 1990*                           0.0
...                                                                          ...
Dublin 8   268162018  Terraced house* 1981 - 1990*                           1.0
                                      1991 - 2000*                           0.0
                                      2001 - 2005*                           0.0
                                      2006 or later*                         3.0
                                      before 1919*                          30.0

[173016 rows x 1 columns]

In [5]:
path_to_Dublin_BER_archetypes = paths.get_path_to_data('Dublin_BER_archetypes.pkl') 

path_to_Dublin_BER_archetypes

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\models\\Dublin_BER_archetypes.pkl'

In [6]:
Dublin_BER_archetypes = pd.read_pickle(path_to_Dublin_BER_archetypes,compression='xz')

Dublin_BER_archetypes

                                           Average BER HW Demand [MWh/year]  \
Postcodes  Dwelling Type   Period Built
Co. Dublin Apartments*     1919 - 1945*                         2545.361134
                           1946 - 1960*                         2708.292672
                           1961 - 1970*                         2720.363263
                           1971 - 1980*                         2843.005075
                           1981 - 1990*                         2577.592310
...                                                                     ...
Dublin 24  Terraced House* 1981 - 1990*                         3217.159169
                           1991 - 2000*                         3157.331477
                           2001 - 2005*                         3218.502754
                           2006 or later*                       2961.955760
                           before 1919*                         3458.415555

                                           Average BER SH Demand [MWh/year]  \
Postcodes  Dwelling Type   Period Built
Co. Dublin Apartments*     1919 - 1945*                         8855.781099
                           1946 - 1960*                         9099.201527
                           1961 - 1970*                         7433.698571
                           1971 - 1980*                         7083.608893
                           1981 - 1990*                         4378.167261
...                                                                     ...
Dublin 24  Terraced House* 1981 - 1990*                         4681.964014
                           1991 - 2000*                         5093.482842
                           2001 - 2005*                         4848.264573
                           2006 or later*                       3301.098618
                           before 1919*                        14265.357073

                                           Number of Samples  \
Postcodes  Dwelling Type   Period Built
Co. Dublin Apartments*     1919 - 1945*                121.0
                           1946 - 1960*                202.0
                           1961 - 1970*                172.0
                           1971 - 1980*                497.0
                           1981 - 1990*                707.0
...                                                      ...
Dublin 24  Terraced House* 1981 - 1990*                654.0
                           1991 - 2000*                284.0
                           2001 - 2005*                365.0
                           2006 or later*              228.0
                           before 1919*                  3.0

                                           Postcode-specific data?
Postcodes  Dwelling Type   Period Built
Co. Dublin Apartments*     1919 - 1945*                       True
                           1946 - 1960*                       True
                           1961 - 1970*                       True
                           1971 - 1980*                       True
                           1981 - 1990*                       True
...                                                            ...
Dublin 24  Terraced House* 1981 - 1990*                       True
                           1991 - 2000*                       True
                           2001 - 2005*                       True
                           2006 or later*                     True
                           before 1919*                      False

[936 rows x 4 columns]

# Merge

BUG: indexes must equal one another in order to match between DataFrames - they don't ...

## Check index values for differences ...

In [7]:
d_idx0 = Dublin_BER_archetypes.index.levels[0]
d_idx1 = Dublin_BER_archetypes.index.levels[1]
d_idx2 = Dublin_BER_archetypes.index.levels[2]
c_idx0 = Census_2011_Linked.index.levels[0]
c_idx2 = Census_2011_Linked.index.levels[2]
c_idx3 = Census_2011_Linked.index.levels[3]

In [8]:
d_idx0

Index(['Co. Dublin', 'Dublin 1', 'Dublin 10', 'Dublin 11', 'Dublin 12',
       'Dublin 13', 'Dublin 14', 'Dublin 15', 'Dublin 16', 'Dublin 17',
       'Dublin 18', 'Dublin 19', 'Dublin 2', 'Dublin 20', 'Dublin 21',
       'Dublin 22', 'Dublin 23', 'Dublin 24', 'Dublin 3', 'Dublin 4',
       'Dublin 5', 'Dublin 6', 'Dublin 6W', 'Dublin 7', 'Dublin 8',
       'Dublin 9'],
      dtype='object', name='Postcodes')

In [9]:
c_idx0

Index(['Co. Dublin', 'Dublin 1', 'Dublin 10', 'Dublin 11', 'Dublin 12',
       'Dublin 13', 'Dublin 14', 'Dublin 15', 'Dublin 16', 'Dublin 17',
       'Dublin 18', 'Dublin 2', 'Dublin 20', 'Dublin 22', 'Dublin 24',
       'Dublin 3', 'Dublin 4', 'Dublin 5', 'Dublin 6', 'Dublin 6W', 'Dublin 7',
       'Dublin 8', 'Dublin 9', 'Unmatched'],
      dtype='object', name='Postcodes')

In [10]:
d_idx0.difference(c_idx0)

Index(['Dublin 19', 'Dublin 21', 'Dublin 23'], dtype='object', name='Postcodes')

In [11]:
c_idx0.difference(d_idx0)

Index(['Unmatched'], dtype='object', name='Postcodes')

In [12]:
d_idx1.difference(c_idx2)

Index(['Detached House*', 'Semi-detached House*', 'Terraced House*'], dtype='object', name='Dwelling Type')

In [13]:
d_idx2.difference(c_idx3)

Index([], dtype='object', name='Period Built')

## Equate indexes and Merge

In [14]:
## Set indexes equal to one another

# Dwelling Type
Census_2011_Linked.index.set_levels(levels=[d_idx0, d_idx1], level=[0,2], inplace=True)

In [15]:
Census_2011_with_energy_inner = (
    Census_2011_Linked.reset_index()
    .merge(
        Dublin_BER_archetypes.reset_index(),
        on=["Postcodes", "Dwelling Type", "Period Built"],
    )
    .set_index(Census_2011_Linked.index.names)
)

Census_2011_with_energy_inner.sort_index(inplace=True)

Census_2011_with_energy_inner

                                                      Total Number of Households  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                           0.0
                                      1946 - 1960*                           0.0
                                      1961 - 1970*                           0.0
                                      1971 - 1980*                           0.0
                                      1981 - 1990*                           0.0
...                                                                          ...
Dublin 7   267124010  Terraced House* 1981 - 1990*                           0.0
                                      1991 - 2000*                           0.0
                                      2001 - 2005*                           0.0
                                      2006 or later*                         0.0
                                      before 1919*                           0.0

                                                      Average BER HW Demand [MWh/year]  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                         2545.361134
                                      1946 - 1960*                         2708.292672
                                      1961 - 1970*                         2720.363263
                                      1971 - 1980*                         2843.005075
                                      1981 - 1990*                         2577.592310
...                                                                                ...
Dublin 7   267124010  Terraced House* 1981 - 1990*                         2886.644800
                                      1991 - 2000*                         2967.237510
                                      2001 - 2005*                         2793.871721
                                      2006 or later*                       2627.525499
                                      before 1919*                         2841.106659

                                                      Average BER SH Demand [MWh/year]  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                         8855.781099
                                      1946 - 1960*                         9099.201527
                                      1961 - 1970*                         7433.698571
                                      1971 - 1980*                         7083.608893
                                      1981 - 1990*                         4378.167261
...                                                                                ...
Dublin 7   267124010  Terraced House* 1981 - 1990*                         4848.662210
                                      1991 - 2000*                         5142.857465
                                      2001 - 2005*                         4873.548906
                                      2006 or later*                       2097.831880
                                      before 1919*                        11709.006731

                                                      Number of Samples  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                121.0
                                      1946 - 1960*                202.0
                                      1961 - 1970*                172.0
                                      1971 - 1980*                497.0
                                      1981 - 1990*                707.0
...                                                                 ...
Dublin 7   267124010  Terraced House* 1981 - 1990*                312.0
                                      1991 - 2000*                198.0
                                      2001 - 2005*                 35.0
                                      2006 or later*               29.0
                                      before 1919*               1322.0

                                                      Postcode-specific data?
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                       True
                                      1946 - 1960*                       True
                                      1961 - 1970*                       True
                                      1971 - 1980*                       True
                                      1981 - 1990*                       True
...                                                                       ...
Dublin 7   267124010  Terraced House* 1981 - 1990*                       True
                                      1991 - 2000*                       True
                                      2001 - 2005*                      False
                                      2006 or later*                    False
                                      before 1919*                       True

[173016 rows x 5 columns]

<span style="color:red"> __NOTE__ </span>

I'm very confused as to where the Small Areas are coming from for 'Dublin 19', 'Dublin 21', 'Dublin 23' as they are not in the index of Small-Area to Postcode match ...

It appears that they may be coming from 'Dublin 8' and 'Dublin 9' somehow ...

# Debugging

## Check for Null values after merge

In [16]:
mask = Census_2011_with_energy_inner["Total Number of Households"].isna()
Census_2011_with_energy_inner[mask]

Empty DataFrame
Columns: [Total Number of Households, Average BER HW Demand [MWh/year], Average BER SH Demand [MWh/year], Number of Samples, Postcode-specific data?]
Index: []

In [17]:
mask = Census_2011_with_energy_inner["Average BER HW Demand [MWh/year]"].isna()
Census_2011_with_energy_inner[mask]

Empty DataFrame
Columns: [Total Number of Households, Average BER HW Demand [MWh/year], Average BER SH Demand [MWh/year], Number of Samples, Postcode-specific data?]
Index: []

In [18]:
Census_2011_with_energy_inner.index.levels[0].unique()

Index(['Co. Dublin', 'Dublin 1', 'Dublin 10', 'Dublin 11', 'Dublin 12',
       'Dublin 13', 'Dublin 14', 'Dublin 15', 'Dublin 16', 'Dublin 17',
       'Dublin 18', 'Dublin 19', 'Dublin 2', 'Dublin 20', 'Dublin 21',
       'Dublin 22', 'Dublin 23', 'Dublin 24', 'Dublin 3', 'Dublin 4',
       'Dublin 5', 'Dublin 6', 'Dublin 6W', 'Dublin 7'],
      dtype='object', name='Postcodes')

In [19]:
# Census_2011_with_energy_inner.to_excel('inner.xlsx')

## Compare results to an outer merge

In [20]:
Census_2011_with_energy_outer = (
    Census_2011_Linked.reset_index()
    .merge(
        Dublin_BER_archetypes.reset_index(),
        on=["Postcodes", "Dwelling Type", "Period Built"],
#         how="left"
        how = "outer"
#         how="right"
    )
    .set_index(Census_2011_Linked.index.names)
    .sort_index()
)

Census_2011_with_energy_outer

                                                      Total Number of Households  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                           0.0
                                      1946 - 1960*                           0.0
                                      1961 - 1970*                           0.0
                                      1971 - 1980*                           0.0
                                      1981 - 1990*                           0.0
...                                                                          ...
Dublin 9   NaN        Terraced House* 1981 - 1990*                           NaN
                                      1991 - 2000*                           NaN
                                      2001 - 2005*                           NaN
                                      2006 or later*                         NaN
                                      before 1919*                           NaN

                                                      Average BER HW Demand [MWh/year]  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                         2545.361134
                                      1946 - 1960*                         2708.292672
                                      1961 - 1970*                         2720.363263
                                      1971 - 1980*                         2843.005075
                                      1981 - 1990*                         2577.592310
...                                                                                ...
Dublin 9   NaN        Terraced House* 1981 - 1990*                         2926.774157
                                      1991 - 2000*                         3248.309318
                                      2001 - 2005*                         3106.685998
                                      2006 or later*                       1830.105770
                                      before 1919*                         3232.334417

                                                      Average BER SH Demand [MWh/year]  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                         8855.781099
                                      1946 - 1960*                         9099.201527
                                      1961 - 1970*                         7433.698571
                                      1971 - 1980*                         7083.608893
                                      1981 - 1990*                         4378.167261
...                                                                                ...
Dublin 9   NaN        Terraced House* 1981 - 1990*                         5280.489537
                                      1991 - 2000*                         5473.667892
                                      2001 - 2005*                         4829.004278
                                      2006 or later*                       1694.629957
                                      before 1919*                        14836.029318

                                                      Number of Samples  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                121.0
                                      1946 - 1960*                202.0
                                      1961 - 1970*                172.0
                                      1971 - 1980*                497.0
                                      1981 - 1990*                707.0
...                                                                 ...
Dublin 9   NaN        Terraced House* 1981 - 1990*                157.0
                                      1991 - 2000*                 77.0
                                      2001 - 2005*                 61.0
                                      2006 or later*              158.0
                                      before 1919*                433.0

                                                      Postcode-specific data?
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                       True
                                      1946 - 1960*                       True
                                      1961 - 1970*                       True
                                      1971 - 1980*                       True
                                      1981 - 1990*                       True
...                                                                       ...
Dublin 9   NaN        Terraced House* 1981 - 1990*                       True
                                      1991 - 2000*                      False
                                      2001 - 2005*                      False
                                      2006 or later*                     True
                                      before 1919*                       True

[173088 rows x 5 columns]

In [21]:
mask = Census_2011_with_energy_outer["Total Number of Households"].isna()
Census_2011_with_energy_outer[mask]

                                                     Total Number of Households  \
Postcodes Small Area Dwelling Type   Period Built
Dublin 8  NaN        Apartments*     1919 - 1945*                           NaN
                                     1946 - 1960*                           NaN
                                     1961 - 1970*                           NaN
                                     1971 - 1980*                           NaN
                                     1981 - 1990*                           NaN
...                                                                         ...
Dublin 9  NaN        Terraced House* 1981 - 1990*                           NaN
                                     1991 - 2000*                           NaN
                                     2001 - 2005*                           NaN
                                     2006 or later*                         NaN
                                     before 1919*                           NaN

                                                     Average BER HW Demand [MWh/year]  \
Postcodes Small Area Dwelling Type   Period Built
Dublin 8  NaN        Apartments*     1919 - 1945*                         2204.901371
                                     1946 - 1960*                         2066.939079
                                     1961 - 1970*                         2455.138977
                                     1971 - 1980*                         2470.375986
                                     1981 - 1990*                         2126.673598
...                                                                               ...
Dublin 9  NaN        Terraced House* 1981 - 1990*                         2926.774157
                                     1991 - 2000*                         3248.309318
                                     2001 - 2005*                         3106.685998
                                     2006 or later*                       1830.105770
                                     before 1919*                         3232.334417

                                                     Average BER SH Demand [MWh/year]  \
Postcodes Small Area Dwelling Type   Period Built
Dublin 8  NaN        Apartments*     1919 - 1945*                         4323.623052
                                     1946 - 1960*                         4681.863451
                                     1961 - 1970*                         5193.707519
                                     1971 - 1980*                         4679.986693
                                     1981 - 1990*                         3041.415895
...                                                                               ...
Dublin 9  NaN        Terraced House* 1981 - 1990*                         5280.489537
                                     1991 - 2000*                         5473.667892
                                     2001 - 2005*                         4829.004278
                                     2006 or later*                       1694.629957
                                     before 1919*                        14836.029318

                                                     Number of Samples  \
Postcodes Small Area Dwelling Type   Period Built
Dublin 8  NaN        Apartments*     1919 - 1945*                609.0
                                     1946 - 1960*                202.0
                                     1961 - 1970*                254.0
                                     1971 - 1980*                 70.0
                                     1981 - 1990*                261.0
...                                                                ...
Dublin 9  NaN        Terraced House* 1981 - 1990*                157.0
                                     1991 - 2000*                 77.0
                                     2001 - 2005*                 61.0
                                     2006 or later*              158.0
                                     before 1919*                433.0

                                                     Postcode-specific data?
Postcodes Small Area Dwelling Type   Period Built
Dublin 8  NaN        Apartments*     1919 - 1945*                       True
                                     1946 - 1960*                       True
                                     1961 - 1970*                       True
                                     1971 - 1980*                      False
                                     1981 - 1990*                       True
...                                                                      ...
Dublin 9  NaN        Terraced House* 1981 - 1990*                       True
                                     1991 - 2000*                      False
                                     2001 - 2005*                      False
                                     2006 or later*                     True
                                     before 1919*                       True

[72 rows x 5 columns]

In [22]:
Census_2011_with_energy_outer.index[mask].unique()

MultiIndex([('Dublin 8', nan,          'Apartments*',   '1919 - 1945*'),
            ('Dublin 8', nan,          'Apartments*',   '1946 - 1960*'),
            ('Dublin 8', nan,          'Apartments*',   '1961 - 1970*'),
            ('Dublin 8', nan,          'Apartments*',   '1971 - 1980*'),
            ('Dublin 8', nan,          'Apartments*',   '1981 - 1990*'),
            ('Dublin 8', nan,          'Apartments*',   '1991 - 2000*'),
            ('Dublin 8', nan,          'Apartments*',   '2001 - 2005*'),
            ('Dublin 8', nan,          'Apartments*', '2006 or later*'),
            ('Dublin 8', nan,          'Apartments*',   'before 1919*'),
            ('Dublin 8', nan,      'Detached House*',   '1919 - 1945*'),
            ('Dublin 8', nan,      'Detached House*',   '1946 - 1960*'),
            ('Dublin 8', nan,      'Detached House*',   '1961 - 1970*'),
            ('Dublin 8', nan,      'Detached House*',   '1971 - 1980*'),
            ('Dublin 8', nan,      'Detached House*',   '1981 - 1990*'),
            ('Dublin 8', nan,      'Detached House*',   '1991 - 2000*'),
            ('Dublin 8', nan,      'Detached House*',   '2001 - 2005*'),
            ('Dublin 8', nan,      'Detached House*', '2006 or later*'),
            ('Dublin 8', nan,      'Detached House*',   'before 1919*'),
            ('Dublin 8', nan, 'Semi-detached House*',   '1919 - 1945*'),
            ('Dublin 8', nan, 'Semi-detached House*',   '1946 - 1960*'),
            ('Dublin 8', nan, 'Semi-detached House*',   '1961 - 1970*'),
            ('Dublin 8', nan, 'Semi-detached House*',   '1971 - 1980*'),
            ('Dublin 8', nan, 'Semi-detached House*',   '1981 - 1990*'),
            ('Dublin 8', nan, 'Semi-detached House*',   '1991 - 2000*'),
            ('Dublin 8', nan, 'Semi-detached House*',   '2001 - 2005*'),
            ('Dublin 8', nan, 'Semi-detached House*', '2006 or later*'),
            ('Dublin 8', nan, 'Semi-detached House*',   'before 1919*'),
            ('Dublin 8', nan,      'Terraced House*',   '1919 - 1945*'),
            ('Dublin 8', nan,      'Terraced House*',   '1946 - 1960*'),
            ('Dublin 8', nan,      'Terraced House*',   '1961 - 1970*'),
            ('Dublin 8', nan,      'Terraced House*',   '1971 - 1980*'),
            ('Dublin 8', nan,      'Terraced House*',   '1981 - 1990*'),
            ('Dublin 8', nan,      'Terraced House*',   '1991 - 2000*'),
            ('Dublin 8', nan,      'Terraced House*',   '2001 - 2005*'),
            ('Dublin 8', nan,      'Terraced House*', '2006 or later*'),
            ('Dublin 8', nan,      'Terraced House*',   'before 1919*'),
            ('Dublin 9', nan,          'Apartments*',   '1919 - 1945*'),
            ('Dublin 9', nan,          'Apartments*',   '1946 - 1960*'),
            ('Dublin 9', nan,          'Apartments*',   '1961 - 1970*'),
            ('Dublin 9', nan,          'Apartments*',   '1971 - 1980*'),
            ('Dublin 9', nan,          'Apartments*',   '1981 - 1990*'),
            ('Dublin 9', nan,          'Apartments*',   '1991 - 2000*'),
            ('Dublin 9', nan,          'Apartments*',   '2001 - 2005*'),
            ('Dublin 9', nan,          'Apartments*', '2006 or later*'),
            ('Dublin 9', nan,          'Apartments*',   'before 1919*'),
            ('Dublin 9', nan,      'Detached House*',   '1919 - 1945*'),
            ('Dublin 9', nan,      'Detached House*',   '1946 - 1960*'),
            ('Dublin 9', nan,      'Detached House*',   '1961 - 1970*'),
            ('Dublin 9', nan,      'Detached House*',   '1971 - 1980*'),
            ('Dublin 9', nan,      'Detached House*',   '1981 - 1990*'),
            ('Dublin 9', nan,      'Detached House*',   '1991 - 2000*'),
            ('Dublin 9', nan,      'Detached House*',   '2001 - 2005*'),
            ('Dublin 9', nan,      'Detached House*', '2006 or later*'),
            ('Dublin 9', nan,      'Detached House*',   'before 1919*'),
            ('Dublin 9', nan, 'Semi-detached House*',   '1919 - 1945*'),
            ('Dublin 9', nan, 'Semi-detached House*',   '1946 - 1960*'),
            ('Dublin 9', nan, 'Semi-detached House*',   '1961 - 1970*'),
            ('Dublin 9', nan, 'Semi-detached House*',   '1971 - 1980*'),
            ('Dublin 9', nan, 'Semi-detached House*',   '1981 - 1990*'),
            ('Dublin 9', nan, 'Semi-detached House*',   '1991 - 2000*'),
            ('Dublin 9', nan, 'Semi-detached House*',   '2001 - 2005*'),
            ('Dublin 9', nan, 'Semi-detached House*', '2006 or later*'),
            ('Dublin 9', nan, 'Semi-detached House*',   'before 1919*'),
            ('Dublin 9', nan,      'Terraced House*',   '1919 - 1945*'),
            ('Dublin 9', nan,      'Terraced House*',   '1946 - 1960*'),
            ('Dublin 9', nan,      'Terraced House*',   '1961 - 1970*'),
            ('Dublin 9', nan,      'Terraced House*',   '1971 - 1980*'),
            ('Dublin 9', nan,      'Terraced House*',   '1981 - 1990*'),
            ('Dublin 9', nan,      'Terraced House*',   '1991 - 2000*'),
            ('Dublin 9', nan,      'Terraced House*',   '2001 - 2005*'),
            ('Dublin 9', nan,      'Terraced House*', '2006 or later*'),
            ('Dublin 9', nan,      'Terraced House*',   'before 1919*')],
           names=['Postcodes', 'Small Area', 'Dwelling Type', 'Period Built'])

In [23]:
mask = Census_2011_with_energy_outer["Average BER HW Demand [MWh/year]"].isna()
Census_2011_with_energy_outer[mask]

Empty DataFrame
Columns: [Total Number of Households, Average BER HW Demand [MWh/year], Average BER SH Demand [MWh/year], Number of Samples, Postcode-specific data?]
Index: []

# %Store

In [24]:
Census_2011_with_energy = Census_2011_with_energy_inner

%store Census_2011_with_energy

Stored 'Census_2011_with_energy' (DataFrame)