In [1]:
import pandas as pd

In [2]:
%store -r BER_Dublin

BER_Dublin.head()

,Postcodes,DwellingTypeDescr,Year_of_Construction,DeliveredEnergyMainWater,MainWaterHeatingFuel,WHMainSystemEff,WHEffAdjFactor,DeliveredEnergySupplementaryWater,SupplWHFuel,DeliveredEnergyMainSpace,...,gsdHSSupplHeatFraction,TotalFloorArea,gsdHSSupplHeatFraction_edited,HSSupplSystemEff_edited,Period Built,Dwelling Type,DeliveredEnergyMainSpace (ind),DeliveredEnergyMainWater (ind),DeliveredEnergySecondarySpace (ind),DeliveredEnergySupplementaryWater (ind)
2,Co. Dublin,Mid-terrace house,2003,5744.088867,Mains Gas,90.3125,0.950195,0.0,None,10826.731445,...,NaN,131.5000,NaN,0.30,2001 - 2005*,Terraced House*,9290.906989,4929.261954,3096.212900,0.0
6,Dublin 14,Semi-detached house,1962,4287.962891,Mains Gas,72.0000,0.950195,1042.0,Electricity,20046.919922,...,NaN,95.3750,NaN,0.72,1961 - 1970*,Semi-detached House*,13714.912325,2933.569612,1904.383883,1042.0
15,Dublin 11,End of terrace house,1972,4087.055908,Mains Gas,65.0000,0.950195,840.5,Electricity,14756.550781,...,NaN,87.7500,NaN,0.63,1971 - 1980*,Semi-detached House*,9114.043498,2524.275888,1446.320379,840.5
18,Dublin 12,Mid-terrace house,1939,5879.203125,Mains Gas,65.0000,0.950195,0.0,None,11019.515625,...,NaN,59.3125,NaN,0.40,1919 - 1945*,Terraced House*,6805.949860,3631.154313,1701.072063,0.0
22,Dublin 18,Top-floor apartment,2004,3348.863037,Mains Gas,78.3125,0.950195,824.5,Electricity,8743.725586,...,NaN,74.5625,NaN,0.00,2001 - 2005*,Apartments*,6506.395983,2491.961670,0.000000,824.5

In [3]:
BER_Dublin_archetypes = pd.DataFrame()

BER_Dublin_archetypes = BER_Dublin.pivot_table(
    index=["Postcodes", "Dwelling Type", "Period Built"],
    aggfunc={
        "Postcodes": "count",
        "DeliveredEnergyMainSpace (ind)": "mean",
        "DeliveredEnergyMainWater (ind)": "mean",
    },
    dropna=False,
)

BER_Dublin_archetypes.rename(columns={
    "Postcodes":"Number of Samples",
    "DeliveredEnergyMainSpace (ind)":"Average BER SH Demand [MWh/year]",
    "DeliveredEnergyMainWater (ind)":"Average BER HW Demand [MWh/year]",
},inplace=True)

# Fill all rows where no sample was found with 0
BER_Dublin_archetypes["Number of Samples"].fillna(0, inplace=True)

# print("Postcode-specific archetypes")
BER_Dublin_archetypes.head()

                                       Average BER SH Demand [MWh/year]  \
Postcodes  Dwelling Type Period Built
Co. Carlow Apartments*   1919 - 1945*                               NaN
                         1946 - 1960*                               NaN
                         1961 - 1970*                               NaN
                         1971 - 1980*                               NaN
                         1981 - 1990*                               NaN

                                       Average BER HW Demand [MWh/year]  \
Postcodes  Dwelling Type Period Built
Co. Carlow Apartments*   1919 - 1945*                               NaN
                         1946 - 1960*                               NaN
                         1961 - 1970*                               NaN
                         1971 - 1980*                               NaN
                         1981 - 1990*                               NaN

                                       Number of Samples
Postcodes  Dwelling Type Period Built
Co. Carlow Apartments*   1919 - 1945*                0.0
                         1946 - 1960*                0.0
                         1961 - 1970*                0.0
                         1971 - 1980*                0.0
                         1981 - 1990*                0.0

In [4]:
## BUG IN PANDAS - original Postcodes of BERPublicsearch reappear with pivot_table operation

BER_Dublin_archetypes.reset_index(inplace=True)

# Use mask to access all "Dublin" data rows
mask = BER_Dublin_archetypes["Postcodes"].str.contains("Dublin")
BER_Dublin_archetypes = BER_Dublin_archetypes.loc[mask].copy(deep=True)

BER_Dublin_archetypes.set_index(
    ["Postcodes", "Dwelling Type", "Period Built"], inplace=True
)

BER_Dublin_archetypes.head()

                                       Average BER SH Demand [MWh/year]  \
Postcodes  Dwelling Type Period Built
Co. Dublin Apartments*   1919 - 1945*                       8855.781099
                         1946 - 1960*                       9099.201527
                         1961 - 1970*                       7433.698571
                         1971 - 1980*                       7083.608893
                         1981 - 1990*                       4378.167261

                                       Average BER HW Demand [MWh/year]  \
Postcodes  Dwelling Type Period Built
Co. Dublin Apartments*   1919 - 1945*                       2545.361134
                         1946 - 1960*                       2708.292672
                         1961 - 1970*                       2720.363263
                         1971 - 1980*                       2843.005075
                         1981 - 1990*                       2577.592310

                                       Number of Samples
Postcodes  Dwelling Type Period Built
Co. Dublin Apartments*   1919 - 1945*              121.0
                         1946 - 1960*              202.0
                         1961 - 1970*              172.0
                         1971 - 1980*              497.0
                         1981 - 1990*              707.0

In [5]:
%store BER_Dublin_archetypes

Stored 'BER_Dublin_archetypes' (DataFrame)