In [4]:
import pandas as pd

In [9]:
%store -r BER_Dublin_archetypes
%store -r BER_overall_Dublin_archetypes

In [10]:
BER_Dublin_archetypes["Postcode-specific data?"] = True

print("Dublin 1 before replacement:")
idx = pd.IndexSlice
BER_Dublin_archetypes.loc[idx["Dublin 1",:,:]].head(15)

Dublin 1 before replacement:

                                          Average BER SH Demand [MWh/year]  \
Postcodes Dwelling Type   Period Built
Dublin 1  Apartments*     1919 - 1945*                         5606.697132
                          1946 - 1960*                         5238.203826
                          1961 - 1970*                         4881.646750
                          1971 - 1980*                         4051.418948
                          1981 - 1990*                         2690.808588
                          1991 - 2000*                         2560.651793
                          2001 - 2005*                         3135.232703
                          2006 or later*                       2508.019090
                          before 1919*                         5327.495805
          Detached House* 1919 - 1945*                        17151.581691
                          1946 - 1960*                        19206.586064
                          1961 - 1970*                                 NaN
                          1971 - 1980*                                 NaN
                          1981 - 1990*                         6684.027743
                          1991 - 2000*                         6110.921836

                                          Average BER HW Demand [MWh/year]  \
Postcodes Dwelling Type   Period Built
Dublin 1  Apartments*     1919 - 1945*                         1929.593370
                          1946 - 1960*                         2164.748201
                          1961 - 1970*                         2211.296605
                          1971 - 1980*                         2018.339822
                          1981 - 1990*                         2178.864484
                          1991 - 2000*                         2047.676317
                          2001 - 2005*                         2340.518908
                          2006 or later*                       2040.000433
                          before 1919*                         1838.446601
          Detached House* 1919 - 1945*                         2069.119533
                          1946 - 1960*                         3165.099861
                          1961 - 1970*                                 NaN
                          1971 - 1980*                                 NaN
                          1981 - 1990*                         3177.420147
                          1991 - 2000*                         2634.340979

                                          Number of Samples  \
Postcodes Dwelling Type   Period Built
Dublin 1  Apartments*     1919 - 1945*                156.0
                          1946 - 1960*                157.0
                          1961 - 1970*                138.0
                          1971 - 1980*                 84.0
                          1981 - 1990*                259.0
                          1991 - 2000*               1744.0
                          2001 - 2005*               1238.0
                          2006 or later*              959.0
                          before 1919*                639.0
          Detached House* 1919 - 1945*                  2.0
                          1946 - 1960*                  3.0
                          1961 - 1970*                  0.0
                          1971 - 1980*                  0.0
                          1981 - 1990*                  2.0
                          1991 - 2000*                  5.0

                                          Postcode-specific data?
Postcodes Dwelling Type   Period Built
Dublin 1  Apartments*     1919 - 1945*                       True
                          1946 - 1960*                       True
                          1961 - 1970*                       True
                          1971 - 1980*                       True
                          1981 - 1990*                       True
                          1991 - 2000*                       True
                          2001 - 2005*                       True
                          2006 or later*                     True
                          before 1919*                       True
          Detached House* 1919 - 1945*                       True
                          1946 - 1960*                       True
                          1961 - 1970*                       True
                          1971 - 1980*                       True
                          1981 - 1990*                       True
                          1991 - 2000*                       True

In [11]:
## Fill all rows with < 100 samples with overall Dublin averages


# Set "Postcode-specific data?" to False for rows with < 100 samples
mask = BER_Dublin_archetypes["Number of Samples"] < 100
BER_Dublin_archetypes.loc[mask, "Postcode-specific data?"] = False

# Fill empty values with Dublin data
BER_Dublin_archetypes = BER_Dublin_archetypes.combine_first(BER_overall_Dublin_archetypes)

In [12]:
## Reorder df in original form


def pull_numbers_from_postcodes(x):

    if x == "Co. Dublin":
        return -1
    elif x == "Dublin 6W":
        x = x.split()[1]  # Get 6W only where [0,1]==['Dublin','6W']
        return int(x[0]) + 0.1  # Return 6 only
    else:
        x = x.split()
        return int(x[1])


BER_Dublin_archetypes.reset_index(inplace=True)
BER_Dublin_archetypes["Postcode Numbers"] = BER_Dublin_archetypes["Postcodes"].apply(
    pull_numbers_from_postcodes
)
BER_Dublin_archetypes.sort_values(
    ["Postcode Numbers", "Dwelling Type", "Period Built"], inplace=True
)
del BER_Dublin_archetypes["Postcode Numbers"]  # Delete number column
BER_Dublin_archetypes.set_index(
    ["Postcodes", "Dwelling Type", "Period Built"], inplace=True
)

print("Dublin 1 after replacement:")
BER_Dublin_archetypes.loc[idx["Dublin 1",:,:]].head(15)

# Source: https://stackoverflow.com/questions/39816671/pandas-populate-new-dataframe-column-based-on-matching-columns-in-another-datafr

Dublin 1 after replacement:

                                Average BER HW Demand [MWh/year]  \
Dwelling Type   Period Built
Apartments*     1919 - 1945*                         1929.593370
                1946 - 1960*                         2164.748201
                1961 - 1970*                         2211.296605
                1971 - 1980*                         2018.339822
                1981 - 1990*                         2178.864484
                1991 - 2000*                         2047.676317
                2001 - 2005*                         2340.518908
                2006 or later*                       2040.000433
                before 1919*                         1838.446601
Detached House* 1919 - 1945*                         2069.119533
                1946 - 1960*                         3165.099861
                1961 - 1970*                         3995.520039
                1971 - 1980*                         3835.491141
                1981 - 1990*                         3177.420147
                1991 - 2000*                         2634.340979

                                Average BER SH Demand [MWh/year]  \
Dwelling Type   Period Built
Apartments*     1919 - 1945*                         5606.697132
                1946 - 1960*                         5238.203826
                1961 - 1970*                         4881.646750
                1971 - 1980*                         4051.418948
                1981 - 1990*                         2690.808588
                1991 - 2000*                         2560.651793
                2001 - 2005*                         3135.232703
                2006 or later*                       2508.019090
                before 1919*                         5327.495805
Detached House* 1919 - 1945*                        17151.581691
                1946 - 1960*                        19206.586064
                1961 - 1970*                        21329.703136
                1971 - 1980*                        17390.003807
                1981 - 1990*                         6684.027743
                1991 - 2000*                         6110.921836

                                Number of Samples  Postcode-specific data?
Dwelling Type   Period Built
Apartments*     1919 - 1945*                156.0                     True
                1946 - 1960*                157.0                     True
                1961 - 1970*                138.0                     True
                1971 - 1980*                 84.0                    False
                1981 - 1990*                259.0                     True
                1991 - 2000*               1744.0                     True
                2001 - 2005*               1238.0                     True
                2006 or later*              959.0                     True
                before 1919*                639.0                     True
Detached House* 1919 - 1945*                  2.0                    False
                1946 - 1960*                  3.0                    False
                1961 - 1970*                  0.0                    False
                1971 - 1980*                  0.0                    False
                1981 - 1990*                  2.0                    False
                1991 - 2000*                  5.0                    False

In [13]:
%store BER_Dublin_archetypes

Stored 'BER_Dublin_archetypes' (DataFrame)