In [1]:
import pandas as pd
import numpy as np

In [2]:
## import custom functions

from pathlib import Path
import sys

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import paths

In [3]:
data_source_name = paths.get_path_to_data('Dublin_BER_data.pkl') 

data_source_name

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\inputs\\processed\\Dublin_BER_data.pkl'

In [4]:
Dublin_BER_data = pd.read_pickle(data_source_name,compression='xz')

Dublin_BER_data.head()

,Postcodes,DwellingTypeDescr,Year_of_Construction,DeliveredEnergyMainWater,MainWaterHeatingFuel,WHMainSystemEff,WHEffAdjFactor,DeliveredEnergySupplementaryWater,SupplWHFuel,DeliveredEnergyMainSpace,...,gsdHSSupplHeatFraction,TotalFloorArea,gsdHSSupplHeatFraction_edited,HSSupplSystemEff_edited,Period Built,Dwelling Type,DeliveredEnergyMainSpace (ind),DeliveredEnergyMainWater (ind),DeliveredEnergySecondarySpace (ind),DeliveredEnergySupplementaryWater (ind)
2,Co. Dublin,Mid-terrace house,2003,5744.088867,Mains Gas,90.3125,0.950195,0.0,None,10826.731445,...,NaN,131.5000,NaN,0.30,2001 - 2005*,Terraced House*,9290.906989,4929.261954,3096.212900,0.0
6,Dublin 14,Semi-detached house,1962,4287.962891,Mains Gas,72.0000,0.950195,1042.0,Electricity,20046.919922,...,NaN,95.3750,NaN,0.72,1961 - 1970*,Semi-detached House*,13714.912325,2933.569612,1904.383883,1042.0
15,Dublin 11,End of terrace house,1972,4087.055908,Mains Gas,65.0000,0.950195,840.5,Electricity,14756.550781,...,NaN,87.7500,NaN,0.63,1971 - 1980*,Semi-detached House*,9114.043498,2524.275888,1446.320379,840.5
18,Dublin 12,Mid-terrace house,1939,5879.203125,Mains Gas,65.0000,0.950195,0.0,None,11019.515625,...,NaN,59.3125,NaN,0.40,1919 - 1945*,Terraced House*,6805.949860,3631.154313,1701.072063,0.0
22,Dublin 18,Top-floor apartment,2004,3348.863037,Mains Gas,78.3125,0.950195,824.5,Electricity,8743.725586,...,NaN,74.5625,NaN,0.00,2001 - 2005*,Apartments*,6506.395983,2491.961670,0.000000,824.5

In [5]:
%store Dublin_BER_data

Stored 'Dublin_BER_data' (DataFrame)