In [1]:
import pandas as pd

In [2]:
## import custom functions

from pathlib import Path
import sys

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import paths

In [3]:
path_to_raw_Dublin_data = paths.get_path_to_data('raw_Dublin_data.pkl') 

path_to_raw_Dublin_data

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\temp\\raw_Dublin_data.pkl'

In [4]:
BER_Dublin_data = pd.read_pickle(path_to_raw_Dublin_data, compression = 'xz')

BER_Dublin_data.head()

,CountyName,DwellingTypeDescr,Year_of_Construction,TypeofRating,EnergyRating,BerRating,GroundFloorArea(sq m),UValueWall,UValueRoof,UValueFloor,...,SecondWallIsSemiExposed,SecondWallAgeBandId,SecondWallTypeId,ThirdWallType_Description,ThirdWallDescription,ThirdWallArea,ThirdWallUValue,ThirdWallIsSemiExposed,ThirdWallAgeBandId,ThirdWallTypeId
2,Co. Dublin,Mid-terrace house,2003,Existing,C1,152.55,177.10,0.30,0.27,0.43,...,No,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Dublin 14,Semi-detached house,1962,Existing,E2,355.65,95.34,2.37,0.50,0.74,...,Yes,4.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Dublin 11,End of terrace house,1972,Existing,E1,304.29,87.76,0.61,0.86,0.81,...,No,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dublin 12,Mid-terrace house,1939,Existing,F,380.84,59.31,2.20,0.13,0.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Dublin 18,Top-floor apartment,2004,Existing,D1,238.43,74.56,0.82,0.20,0.00,...,No,9.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
headers = [
    "CountyName",
    "DwellingTypeDescr",
    "Year_of_Construction",
    
    # Area (calculated in previous code)
    "GroundFloorArea",
    "FirstFloorArea",
    "SecondFloorArea",
    "ThirdFloorArea",
    
    #HW Prim
    "DeliveredEnergyMainWater",
    "MainWaterHeatingFuel",
    "WHMainSystemEff",
    "WHEffAdjFactor",
    
    #HW Sec
    "DeliveredEnergySupplementaryWater",
    "SupplWHFuel",
    
    #SH Prim
    "DeliveredEnergyMainSpace",
    "MainSpaceHeatingFuel",
    "HSMainSystemEfficiency",
    "HSEffAdjFactor",
    
    #SH Sec
    "DeliveredEnergySecondarySpace",
    "HSSupplSystemEff",
    "SupplSHFuel",
    
    #Other
    "ElecImmersionInSummer",
    "SolarHeatFraction",
    "HSSupplHeatFraction",
    
    #Group Heating
    "CHPSystemType",
    "CHPUnitHeatFraction",
    "gsdHSSupplHeatFraction",
]

BER_Dublin_specific = BER_Dublin_data.loc[:,headers]

print("Select columns only:")
BER_Dublin_specific.head()

Select columns only:

,CountyName,DwellingTypeDescr,Year_of_Construction,GroundFloorArea,FirstFloorArea,SecondFloorArea,ThirdFloorArea,DeliveredEnergyMainWater,MainWaterHeatingFuel,WHMainSystemEff,...,HSEffAdjFactor,DeliveredEnergySecondarySpace,HSSupplSystemEff,SupplSHFuel,ElecImmersionInSummer,SolarHeatFraction,HSSupplHeatFraction,CHPSystemType,CHPUnitHeatFraction,gsdHSSupplHeatFraction
2,Co. Dublin,Mid-terrace house,2003,62.49,68.99,0.0,0.0,5744.089,Mains Gas,90.3,...,0.95,3440.495,30.0,8.0,NO,NaN,0.1,NaN,NaN,NaN
6,Dublin 14,Semi-detached house,1962,47.01,48.33,0.0,0.0,4287.963,Mains Gas,72.0,...,0.95,2116.064,72.0,2.0,YES,NaN,0.1,NaN,NaN,NaN
15,Dublin 11,End of terrace house,1972,47.87,39.89,0.0,0.0,4087.056,Mains Gas,65.0,...,0.95,1608.386,63.0,2.0,YES,NaN,0.1,NaN,NaN,NaN
18,Dublin 12,Mid-terrace house,1939,29.85,29.46,0.0,0.0,5879.203,Mains Gas,65.0,...,0.95,1891.684,40.0,2.0,NO,NaN,0.1,NaN,NaN,NaN
22,Dublin 18,Top-floor apartment,2004,74.56,0.00,0.0,0.0,3348.863,Mains Gas,78.3,...,0.95,0.000,0.0,1.0,YES,NaN,0.0,NaN,NaN,NaN

In [10]:
BER_Dublin_specific.rename(columns={"CountyName":"Postcodes"},inplace=True)

In [11]:
%store BER_Dublin_specific

Stored 'BER_Dublin_specific' (DataFrame)