In [1]:
import pandas as pd
import numpy as np

In [2]:
## import custom functions

from pathlib import Path
import sys

# Create path to custom functions
funcs_path = Path.cwd().parents[1]
sys.path.insert(1, str(funcs_path))

from funcs import paths

In [3]:
path_to_Census_2011_Linked = paths.get_path_to_data('Census_2011_Linked.pkl') 

path_to_Census_2011_Linked

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\inputs\\processed\\Census_2011_Linked.pkl'

In [4]:
Census_2011_Linked = pd.read_pickle(path_to_Census_2011_Linked, compression='xz')

Census_2011_Linked

                                                      Total Number of Households
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                           0.0
                                      1946 - 1960*                           0.0
                                      1961 - 1970*                           0.0
                                      1971 - 1980*                           0.0
                                      1981 - 1990*                           0.0
...                                                                          ...
Dublin 8   268162018  Terraced house* 1981 - 1990*                           1.0
                                      1991 - 2000*                           0.0
                                      2001 - 2005*                           0.0
                                      2006 or later*                         3.0
                                      before 1919*                          30.0

[173016 rows x 1 columns]

In [5]:
path_to_sample_average_allDublin = paths.get_path_to_data(
    "sample_allDublin.pkl"
)

path_to_sample_average_allDublin

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\models\\sample_allDublin.pkl'

In [6]:
sample_average_allDublin = pd.read_pickle(path_to_sample_average_allDublin,compression='xz')

sample_average_allDublin

HW_mean    3031.859345
HW_sem       31.264932
SH_mean    7791.086647
SH_sem      206.260510
dtype: float64

In [7]:
%store Census_2011_Linked
%store sample_average_allDublin

Stored 'Census_2011_Linked' (DataFrame)
Stored 'sample_average_allDublin' (Series)