In [1]:
%store -r Census_2011_Linked
%store -r sample_average_allDublin

In [2]:
import pandas as pd
import numpy as np

In [3]:
Census_2011_with_allDublin_sample_estimate = Census_2011_Linked.copy()

In [4]:
Census_2011_with_allDublin_sample_estimate["Total BER HW Demand [MWh/year]"] = (
    Census_2011_with_allDublin_sample_estimate["Total Number of Households"]
    * sample_average_allDublin["HW_mean"]
)

Census_2011_with_allDublin_sample_estimate["Total BER SH Demand [MWh/year]"] = (
    Census_2011_with_allDublin_sample_estimate["Total Number of Households"]
    * sample_average_allDublin["SH_mean"]
)

Census_2011_with_allDublin_sample_estimate

                                                      Total Number of Households  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                           0.0
                                      1946 - 1960*                           0.0
                                      1961 - 1970*                           0.0
                                      1971 - 1980*                           0.0
                                      1981 - 1990*                           0.0
...                                                                          ...
Dublin 8   268162018  Terraced house* 1981 - 1990*                           1.0
                                      1991 - 2000*                           0.0
                                      2001 - 2005*                           0.0
                                      2006 or later*                         3.0
                                      before 1919*                          30.0

                                                      Total BER HW Demand [MWh/year]  \
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                          0.000000
                                      1946 - 1960*                          0.000000
                                      1961 - 1970*                          0.000000
                                      1971 - 1980*                          0.000000
                                      1981 - 1990*                          0.000000
...                                                                              ...
Dublin 8   268162018  Terraced house* 1981 - 1990*                       3031.859345
                                      1991 - 2000*                          0.000000
                                      2001 - 2005*                          0.000000
                                      2006 or later*                     9095.578034
                                      before 1919*                      90955.780339

                                                      Total BER SH Demand [MWh/year]
Postcodes  Small Area Dwelling Type   Period Built
Co. Dublin 267001001  Apartments*     1919 - 1945*                          0.000000
                                      1946 - 1960*                          0.000000
                                      1961 - 1970*                          0.000000
                                      1971 - 1980*                          0.000000
                                      1981 - 1990*                          0.000000
...                                                                              ...
Dublin 8   268162018  Terraced house* 1981 - 1990*                       7791.086647
                                      1991 - 2000*                          0.000000
                                      2001 - 2005*                          0.000000
                                      2006 or later*                    23373.259940
                                      before 1919*                     233732.599398

[173016 rows x 3 columns]

In [5]:
%store Census_2011_with_allDublin_sample_estimate

Stored 'Census_2011_with_allDublin_sample_estimate' (DataFrame)

In [6]:
%store -d Census_2011_Linked
%store -d sample_average_allDublin