In [3]:
import pandas as pd
import numpy as np

import googlemaps

# Proj contains class for transforming WGS to ITM 
from pyproj import Proj, transform

In [1]:
# Get grandparent directory path so can access 'Data' folder

from os.path import dirname
from os import getcwd

filepath = getcwd()

dir_of_file = dirname(filepath)
parent_dir_of_file = dirname(dir_of_file)
parent_of_parent_dir_of_file = dirname(parent_dir_of_file)

path_to_data_folder = str(parent_of_parent_dir_of_file) + r'\Data\Data Processing\Data - Amalgamate Validation Office and EPA Data'
print(path_to_data_folder)

C:\Users\RowanM\Documents\Documents_Frequent\Jupyter_Roughwork
C:\Users\RowanM\Documents\Documents_Frequent\Jupyter_Roughwork\Data\Data Processing\Data - Amalgamate Validation Office and EPA Data

Read in data files
---

In [4]:
xls = pd.ExcelFile(path_to_data_folder + r'\Input Data\Commercial Amalgamation.xls')
df_DCC = pd.read_excel(xls, 'DCC')
df_DLR = pd.read_excel(xls, 'DLR')
df_FCC = pd.read_excel(xls, 'FCC')
df_SDCC = pd.read_excel(xls, 'SDCC')

In [5]:
raw_VO = pd.concat([df_DCC,df_DLR,df_FCC,df_SDCC])

print("Raw VO data:")
raw_VO.head()

Raw VO data:

,X ITM,Y ITM,Property Number,Local Authority,Valuation,Category,Uses,Address 1,Address 2,Address 3,Address 4,Address 5,Car Park,Level,Floor Use,Area,Nav Per M2,Nav
0,716629.21,733761.62,837643,DUBLIN CITY COUNCIL,0,CENTRAL VALUATION LIST,"NETWORK (TELECOM), TELEPHONE (EXCHANGE)",12 DENZILLE LANE,DUBLIN 2,NaN,NaN,NaN,0,1,OFFICE(S),220.00,0.0,0.0
1,716629.21,733761.62,837643,DUBLIN CITY COUNCIL,0,CENTRAL VALUATION LIST,"NETWORK (TELECOM), TELEPHONE (EXCHANGE)",12 DENZILLE LANE,DUBLIN 2,NaN,NaN,NaN,0,-1,CAR SPACES (NO. OF),2.00,0.0,0.0
2,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",47-48 Lower Baggot Street,Dublin 2,NaN,NaN,NaN,0,2,TOILETS,24.67,100.0,2467.0
3,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",47-48 Lower Baggot Street,Dublin 2,NaN,NaN,NaN,0,2,STORE,64.52,100.0,6452.0
4,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",47-48 Lower Baggot Street,Dublin 2,NaN,NaN,NaN,0,1,STORE,33.06,120.0,3967.2

In [11]:
raw_VO["Address"] = (
    raw_VO[" Address 1"].fillna("").astype(str) + ' '
    + raw_VO["Address 2"].fillna("").astype(str) + ' '
    + raw_VO["Address 3"].fillna("").astype(str) + ' '
    + raw_VO["Address 4"].fillna("").astype(str) + ' '
    + raw_VO["Address 5"].fillna("").astype(str) 
)

In [11]:
# raw_VO["Address"]

In [13]:
VO = raw_VO.drop([" Address 1", "Address 2", "Address 3", "Address 4", "Address 5",],axis=1)

In [6]:
print("Reformatted VO data:")

Reformatted VO data:

In [14]:
VO

,X ITM,Y ITM,Property Number,Local Authority,Valuation,Category,Uses,Car Park,Level,Floor Use,Area,Nav Per M2,Nav,Address
0,716629.21,733761.62,837643,DUBLIN CITY COUNCIL,0,CENTRAL VALUATION LIST,"NETWORK (TELECOM), TELEPHONE (EXCHANGE)",0,1,OFFICE(S),220.00,0.0,0.00,12 DENZILLE LANE DUBLIN 2
1,716629.21,733761.62,837643,DUBLIN CITY COUNCIL,0,CENTRAL VALUATION LIST,"NETWORK (TELECOM), TELEPHONE (EXCHANGE)",0,-1,CAR SPACES (NO. OF),2.00,0.0,0.00,12 DENZILLE LANE DUBLIN 2
2,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",0,2,TOILETS,24.67,100.0,2467.00,47-48 Lower Baggot Street Dublin 2
3,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",0,2,STORE,64.52,100.0,6452.00,47-48 Lower Baggot Street Dublin 2
4,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",0,1,STORE,33.06,120.0,3967.20,47-48 Lower Baggot Street Dublin 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18536,714459.65,727916.47,495305,SOUTH DUBLIN COUNTY COUNCIL,28300,RETAIL (SHOPS),"SHOP, -",0,1,STORE,18.50,170.0,3145.00,1 St Endas Drive Rathfarnham Dublin 14
18537,714459.65,727916.47,495305,SOUTH DUBLIN COUNTY COUNCIL,28300,RETAIL (SHOPS),"SHOP, -",0,1,OFFICE(S),14.76,170.0,2509.20,1 St Endas Drive Rathfarnham Dublin 14
18538,714459.65,727916.47,495305,SOUTH DUBLIN COUNTY COUNCIL,28300,RETAIL (SHOPS),"SHOP, -",0,0,OFF LICENCE,2955.00,1.0,2955.00,1 St Endas Drive Rathfarnham Dublin 14
18539,710810.67,729798.36,5002614,SOUTH DUBLIN COUNTY COUNCIL,11470,RETAIL (SHOPS),"SHOP, -",0,0,RETAIL ZONE A,25.20,330.0,8316.00,St James Road Walkinstown Dublin 12
18540,710810.67,729798.36,5002614,SOUTH DUBLIN COUNTY COUNCIL,11470,RETAIL (SHOPS),"SHOP, -",0,0,RETAIL ZONE B,19.17,165.0,3163.05,St James Road Walkinstown Dublin 12

# Method 1: Use Google Geocoder API

<span style="color:red">Warning!</span> Long run time of approx __10 minutes!!!__

In [33]:
# Youtube video: https://www.youtube.com/watch?v=vTFn9gWEtPA

def geo_code (address):
    
    api_key = r"AIzaSyCwcqrPpC-8wU6d282EF-TdoolRPtTk7NU"
    gmaps = googlemaps.Client(key=api_key)
    
    geocode_json = gmaps.geocode(address)
    try:
        lat = geocode_json[0]['geometry']['location']['lat']
        lon = geocode_json[0]['geometry']['location']['lng']
    except:
        lat = None
        lon = None
     
    return lat,lon

geo_code_vectorized = np.vectorize(geo_code)
VO["Latitude"],VO["Longitude"] = geo_code_vectorized(VO["Address"].values)

HTTPError: HTTP Error: 400

In [ ]:
def loc_to_URL(lat, lon):

    return r"https://maps.google.com/?q=" + str(lat) + "," + str(lon)


loc_to_URL_vectorized = np.vectorize(loc_to_URL)

VO["URL_by_loc"] = loc_to_URL_vectorized(
    VO["Latitude"].values, VO["Longitude"].values
)

In [ ]:
def address_to_URL (address):
    
    try:
        address = " ".join(address.split(', '))
    except:
        pass
    
    try:
        address = " ".join(address.split(','))
    except:
        pass
                           
    return r"https://www.google.com/maps/place/" + address

address_to_URL_vectorized = np.vectorize(address_to_URL)

VO["URL_by_address"] = address_to_URL_vectorized(VO["Address"].values)

## Method 2: Convert ITM to GPS coord

GIS Stack:
https://gis.stackexchange.com/questions/32418/python-script-to-convert-lat-long-to-itm-irish-transverse-mercator

Google search:
https://www.google.com/search?client=firefox-b-d&ei=mo7NXbXtGbHCxgOgkqrwAg&q=convert+itm+to+gps+formula&oq=convert+itm+to+gps+formula&gs_l=psy-ab.3..33i22i29i30.2652.4414..4620...0.2..0.90.612.8......0....1..gws-wiz.......0i71j0i22i30.T-qZHZYs674&ved=0ahUKEwi1os_pnOrlAhUxoXEKHSCJCi4Q4dUDCAo&uact=5

In [16]:
def reproject_wgs_to_itm(longitude, latitude):
    """ Docstring:

        Source: https://gis.stackexchange.com/questions/32418/python-script-to-convert-lat-long-to-itm-irish-transverse-mercator

        """
    prj_wgs = Proj(init='epsg:4326')
    prj_itm = Proj(init='epsg:2157')
    x, y = transform(prj_wgs, prj_itm, longitude, latitude)
    return x, y

def reproject_itm_to_wgs(longitude, latitude):
    prj_wgs = Proj(init="epsg:4326")
    prj_itm = Proj(init="epsg:2157")
    x, y = transform(prj_itm,prj_wgs, longitude, latitude)
    return x, y


# print(reproject_wgs_to_itm(-7.748108, 53.431628))
# print(reproject_itm_to_wgs(616739.1657790709, 742421.4589047567))

(616739.1657790709, 742421.4589047567)
(-7.748108000000001, 53.431627999999996)

In [10]:
# VO.columns

In [28]:
reproject_itm_to_wgs_vectorized = np.vectorize(reproject_itm_to_wgs)
VO["Latitude"], VO["Longitude"] = (
    reproject_itm_to_wgs_vectorized(VO[" X ITM"], VO[" Y ITM"])[1],
    reproject_itm_to_wgs_vectorized(VO[" X ITM"], VO[" Y ITM"])[0],
)

In [8]:
print("ITM converted to Lat & Long")

ITM converted to Lat & Long

In [29]:
VO

,X ITM,Y ITM,Property Number,Local Authority,Valuation,Category,Uses,Car Park,Level,Floor Use,Area,Nav Per M2,Nav,Address,Latitude,Longitude
0,716629.21,733761.62,837643,DUBLIN CITY COUNCIL,0,CENTRAL VALUATION LIST,"NETWORK (TELECOM), TELEPHONE (EXCHANGE)",0,1,OFFICE(S),220.00,0.0,0.00,12 DENZILLE LANE DUBLIN 2,53.341216,-6.248594
1,716629.21,733761.62,837643,DUBLIN CITY COUNCIL,0,CENTRAL VALUATION LIST,"NETWORK (TELECOM), TELEPHONE (EXCHANGE)",0,-1,CAR SPACES (NO. OF),2.00,0.0,0.00,12 DENZILLE LANE DUBLIN 2,53.341216,-6.248594
2,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",0,2,TOILETS,24.67,100.0,2467.00,47-48 Lower Baggot Street Dublin 2,53.336668,-6.248344
3,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",0,2,STORE,64.52,100.0,6452.00,47-48 Lower Baggot Street Dublin 2,53.336668,-6.248344
4,716658.26,733255.97,791577,DUBLIN CITY COUNCIL,89100,RETAIL (SHOPS),"CONVENIENCE STORE [<200 SQ. M.], OFF-LICENCE",0,1,STORE,33.06,120.0,3967.20,47-48 Lower Baggot Street Dublin 2,53.336668,-6.248344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18536,714459.65,727916.47,495305,SOUTH DUBLIN COUNTY COUNCIL,28300,RETAIL (SHOPS),"SHOP, -",0,1,STORE,18.50,170.0,3145.00,1 St Endas Drive Rathfarnham Dublin 14,53.289183,-6.283267
18537,714459.65,727916.47,495305,SOUTH DUBLIN COUNTY COUNCIL,28300,RETAIL (SHOPS),"SHOP, -",0,1,OFFICE(S),14.76,170.0,2509.20,1 St Endas Drive Rathfarnham Dublin 14,53.289183,-6.283267
18538,714459.65,727916.47,495305,SOUTH DUBLIN COUNTY COUNCIL,28300,RETAIL (SHOPS),"SHOP, -",0,0,OFF LICENCE,2955.00,1.0,2955.00,1 St Endas Drive Rathfarnham Dublin 14,53.289183,-6.283267
18539,710810.67,729798.36,5002614,SOUTH DUBLIN COUNTY COUNCIL,11470,RETAIL (SHOPS),"SHOP, -",0,0,RETAIL ZONE A,25.20,330.0,8316.00,St James Road Walkinstown Dublin 12,53.306864,-6.337314
18540,710810.67,729798.36,5002614,SOUTH DUBLIN COUNTY COUNCIL,11470,RETAIL (SHOPS),"SHOP, -",0,0,RETAIL ZONE B,19.17,165.0,3163.05,St James Road Walkinstown Dublin 12,53.306864,-6.337314

Store data for later use
---

In [30]:
VO.to_pickle(
    dir_of_file + r"\Temporary Data\DataFrame_VO_with_GPS.pkl"
)

In [9]:
dir_of_file + r"\Temporary Data\DataFrame_VO_with_GPS.pkl"

'C:\\Users\\RowanM\\Documents\\Documents_Frequent\\Jupyter_Roughwork\\Notebooks\\Data Processing\\Temporary Data\\DataFrame_VO_with_GPS.pkl'

# Notes

# (
#     raw_VO[" X ITM"],
#     raw_VO[" Y ITM"],
#     raw_VO["Property Number"],
#     raw_VO[" Local Authority"],
#     raw_VO[" Valuation"],
#     raw_VO["Category"],
#     raw_VO["Uses"],
#     raw_VO["Address"],
#     raw_VO["Address"],

# )