In [1]:
import pandas as pd
import numpy as np
import googlemaps

ModuleNotFoundError: No module named 'googlemaps'

In [2]:
%load_ext autoreload
%autoreload 2

In [1]:
from src.data import path, load, save

In [3]:
MnR_path = path.get("FOI_Codema_24.1.20.xlsx")
MnR = load.local_data(MnR_path)

MnR.head()

Accessing data @ c:\users\rowanm\documents\dublin_energy_masterplan\data\raw\FOI_Codema_24.1.20.xlsx
Attempting to load data...
Data successfully loaded!

,PB Name,Location,Consumption Category,County,Attributable Total Final Consumption (kWh),Year
0,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,9136.04,2014
1,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,7991.01,2015
2,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,7647.00,2016
3,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,10816.00,2017
4,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,10794.00,2018

## Useful funcs

In [5]:
def save_df (df):
    df_path = path.set('temp.xlsx', 'interim')
    save.df(df=df, path=df_path)

# Clean M&R data so:
- Only 2018
- All buildings have a Attributable Total Final Consumption (kWh) [can't be Nan]
- The Location is a real address ...

In [6]:
mask = MnR["Year"] == 2018
MnR_2018 = MnR[mask].copy()

MnR_2018.head()

,PB Name,Location,Consumption Category,County,Attributable Total Final Consumption (kWh),Year
4,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,10794.00,2018
9,Abbey Theatre,"15-17 Eden Quay, Dublin 1",Other Building,Dublin 1,13014.00,2018
14,Abbey Theatre,22/23 Eden Quay,Other Building,Dublin 1,26201.00,2018
19,Abbey Theatre,"4 Marlborough Place, Dublin 1",Other Building,Dublin 1,4296.93,2018
24,Abbey Theatre,"12c Lower Abbey st, Dublin 1",Other Building,Dublin 1,0.00,2018

In [7]:
mask = (MnR_2018["Attributable Total Final Consumption (kWh)"] == 0) | (MnR_2018["Attributable Total Final Consumption (kWh)"].isnull())
# mask = (MnR["Attributable Total Final Consumption (kWh)"].isnull())

MnR_2018_nonzero = MnR_2018[~mask]

In [8]:
# Join PB Name Location County together!
MnR_2018_nonzero["Address"] = (
    MnR_2018_nonzero["PB Name"].astype(np.str) 
    + " " 
    + MnR_2018_nonzero["Location"].astype(np.str) 
    + " " 
    + MnR_2018_nonzero["County"].astype(np.str)
)

MnR_2018_nonzero

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,PB Name,Location,Consumption Category,County,Attributable Total Final Consumption (kWh),Year,Address
4,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,10794.00,2018,"Abbey Theatre 1 Annesley place, Dublin 3 Dublin 3"
9,Abbey Theatre,"15-17 Eden Quay, Dublin 1",Other Building,Dublin 1,13014.00,2018,"Abbey Theatre 15-17 Eden Quay, Dublin 1 Dublin 1"
14,Abbey Theatre,22/23 Eden Quay,Other Building,Dublin 1,26201.00,2018,Abbey Theatre 22/23 Eden Quay Dublin 1
19,Abbey Theatre,"4 Marlborough Place, Dublin 1",Other Building,Dublin 1,4296.93,2018,"Abbey Theatre 4 Marlborough Place, Dublin 1 Du..."
29,Abbey Theatre,U42 Finglas business Centre,Other Building,Dublin 11,6162.00,2018,Abbey Theatre U42 Finglas business Centre Dubl...
...,...,...,...,...,...,...,...
18524,Stepaside Educate Together Secondary School,Prefab,Education Building,Dublin (County),20848.00,2018,Stepaside Educate Together Secondary School Pr...
18529,Stepaside Educate Together Secondary School,SETNS,Education Building,Dublin (County),22496.43,2018,Stepaside Educate Together Secondary School SE...
18534,Assumption Junior School,Assumption Primary Schools,Education Building,Dublin 12,47335.86,2018,Assumption Junior School Assumption Primary Sc...
18535,National Shared Services Office,Clonskeagh CarPark,Office Building,Dublin 4,73977.86,2018,National Shared Services Office Clonskeagh Car...
18536,National Shared Services Office,Clonskeagh,Office Building,Dublin 4,354755.00,2018,National Shared Services Office Clonskeagh Dub...

In [18]:
import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

In [21]:
# Youtube video: https://www.youtube.com/watch?v=vTFn9gWEtPA
# Source code: https://github.com/googlemaps/google-maps-services-python
# Documentation: https://developers.google.com/maps/documentation/geocoding/intro

def geo_code (address):
    
    api_key = r"AIzaSyCwcqrPpC-8wU6d282EF-TdoolRPtTk7NU"
    gmaps = googlemaps.Client(key=api_key)
    
    geocode_json = gmaps.geocode(address)
    try:
        lat = geocode_json[0]['geometry']['location']['lat']
        lon = geocode_json[0]['geometry']['location']['lng']
    except:
        lat = np.nan
        lon = np.nan
        
    logging.debug(f"{lat}, {lon}")
    
    return lat,lon

geo_code = np.vectorize(geo_code)

In [25]:
api_key = r"AIzaSyCwcqrPpC-8wU6d282EF-TdoolRPtTk7NU"
gmaps = googlemaps.Client(key=api_key)
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443
DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=1600+Amphitheatre+Parkway%2C+Mountain+View%2C+CA&key=AIzaSyCwcqrPpC-8wU6d282EF-TdoolRPtTk7NU HTTP/1.1" 200 None

In [24]:
MnR_2018_nonzero["Address"].head(1).values

array(['Abbey Theatre 1 Annesley place, Dublin 3 Dublin 3'], dtype=object)

In [22]:
%%time 
MnR_2018_nonzero["Latitude"], MnR_2018_nonzero["Longitude"] = (
    geo_code(MnR_2018_nonzero["Address"].head(1).values)
)

DEBUG:root:53.34854, -6.257107
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): maps.googleapis.com:443
DEBUG:urllib3.connectionpool:https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=Abbey+Theatre+1+Annesley+place%2C+Dublin+3+Dublin+3&key=AIzaSyCwcqrPpC-8wU6d282EF-TdoolRPtTk7NU HTTP/1.1" 200 None
DEBUG:root:53.34854, -6.257107

ValueError: Length of values does not match length of index

In [19]:
MnR_2018_nonzero.head()

,PB Name,Location,Consumption Category,County,Attributable Total Final Consumption (kWh),Year,Latitude,Longitude
4,Abbey Theatre,"1 Annesley place, Dublin 3",Other Building,Dublin 3,10794.00,2018,53.359520,-6.240527
9,Abbey Theatre,"15-17 Eden Quay, Dublin 1",Other Building,Dublin 1,13014.00,2018,53.348196,-6.257129
14,Abbey Theatre,22/23 Eden Quay,Other Building,Dublin 1,26201.00,2018,53.348224,-6.256404
19,Abbey Theatre,"4 Marlborough Place, Dublin 1",Other Building,Dublin 1,4296.93,2018,53.349971,-6.257166
24,Abbey Theatre,"12c Lower Abbey st, Dublin 1",Other Building,Dublin 1,0.00,2018,53.348565,-6.257701

In [20]:
paths.save_data(MnR_2018_nonzero,"FOI_Codema_24.1.20_with_loc.pkl")