In [11]:
%store -r Census_2011

Census_2011.head()

Dwelling Type            Bed-sit  Detached house  \
Small Area Period Built
268038003  before 1919         0               0
           1919 - 1945         0               0
           1946 - 1960         0               0
           1961 - 1970         0               0
           1971 - 1980         0               0

Dwelling Type            Flat/apartment in a converted house or commercial building  \
Small Area Period Built
268038003  before 1919                                                   0
           1919 - 1945                                                   0
           1946 - 1960                                                   0
           1961 - 1970                                                   0
           1971 - 1980                                                   0

Dwelling Type            Flat/apartment in a purpose-built block  Not stated  \
Small Area Period Built
268038003  before 1919                                         0           0
           1919 - 1945                                         0           0
           1946 - 1960                                         0           0
           1961 - 1970                                         0           0
           1971 - 1980                                         0           0

Dwelling Type            Semi-detached house  Terraced house
Small Area Period Built
268038003  before 1919                     0               0
           1919 - 1945                     0               0
           1946 - 1960                     0               0
           1961 - 1970                     0               0
           1971 - 1980                     0               0

In [12]:
# Sum all Apartment-type homes into one column
Census_2011['Apartments']=Census_2011.iloc[:,[0,2,3]].sum(axis=1)
Census_2011.drop(Census_2011.columns[[0,2,3]],axis=1,inplace=True)

# Reorder columns so apartment column at start and Not stated at end
cols = Census_2011.columns.tolist()
cols = [cols[-1]] + [cols[0]] + cols[2:4] + [cols[1]]
Census_2011 = Census_2011[cols]

Census_2011.head(10)

Dwelling Type             Apartments  Detached house  Semi-detached house  \
Small Area Period Built
268038003  before 1919             0               0                    0
           1919 - 1945             0               0                    0
           1946 - 1960             0               0                    0
           1961 - 1970             0               0                    0
           1971 - 1980             0               0                    0
           1981 - 1990             0               0                    0
           1991 - 2000             3               0                    0
           2001 - 2005           114               0                    1
           2006 or later           0               0                    0
           Not stated              3               0                    0

Dwelling Type             Terraced house  Not stated
Small Area Period Built
268038003  before 1919                 0           0
           1919 - 1945                 0           0
           1946 - 1960                 0           0
           1961 - 1970                 0           0
           1971 - 1980                 0           0
           1981 - 1990                 0           0
           1991 - 2000                 0           0
           2001 - 2005                 1           1
           2006 or later               0           0
           Not stated                  1           3

In [14]:
%store Census_2011

Stored 'Census_2011' (DataFrame)