with column "Total Number of Households" with Small Area > Dwelling Type > Period Built as index

In [3]:
import pandas as pd

In [1]:
%store -r Census_2011

Census_2011.head()

Dwelling Type            Apartments*  Detached house*  Semi-detached house*  \
Small Area Period Built
267001001  before 1919*          0.0              0.0                   0.0
           1919 - 1945*          0.0              0.0                   0.0
           1946 - 1960*          0.0              0.0                   0.0
           1961 - 1970*          0.0              0.0                   0.0
           1971 - 1980*          0.0              0.0                   0.0

Dwelling Type            Terraced house*
Small Area Period Built
267001001  before 1919*              0.0
           1919 - 1945*              0.0
           1946 - 1960*              0.0
           1961 - 1970*              0.0
           1971 - 1980*              0.0

In [4]:
Census_2011_edited = pd.DataFrame()
Census_2011_edited[
    "Total Number of Households"
] = Census_2011.stack()

Census_2011_edited.reset_index(inplace=True)
Census_2011_edited.sort_values(["Small Area","Dwelling Type", "Period Built"],inplace=True)
Census_2011_edited.set_index(["Small Area","Dwelling Type", "Period Built"],inplace=True)

Census_2011_edited.head(36)

                                                Total Number of Households
Small Area Dwelling Type        Period Built
267001001  Apartments*          1919 - 1945*                           0.0
                                1946 - 1960*                           0.0
                                1961 - 1970*                           0.0
                                1971 - 1980*                           0.0
                                1981 - 1990*                           0.0
                                1991 - 2000*                           8.0
                                2001 - 2005*                          47.0
                                2006 or later*                         8.0
                                before 1919*                           0.0
           Detached house*      1919 - 1945*                           0.0
                                1946 - 1960*                           0.0
                                1961 - 1970*                           0.0
                                1971 - 1980*                           0.0
                                1981 - 1990*                           0.0
                                1991 - 2000*                           0.0
                                2001 - 2005*                           0.0
                                2006 or later*                         1.0
                                before 1919*                           0.0
           Semi-detached house* 1919 - 1945*                           0.0
                                1946 - 1960*                           0.0
                                1961 - 1970*                           0.0
                                1971 - 1980*                           0.0
                                1981 - 1990*                           0.0
                                1991 - 2000*                           0.0
                                2001 - 2005*                           1.0
                                2006 or later*                         0.0
                                before 1919*                           0.0
           Terraced house*      1919 - 1945*                           0.0
                                1946 - 1960*                           0.0
                                1961 - 1970*                           0.0
                                1971 - 1980*                           0.0
                                1981 - 1990*                           0.0
                                1991 - 2000*                           0.0
                                2001 - 2005*                           0.0
                                2006 or later*                         0.0
                                before 1919*                           0.0

In [5]:
%store Census_2011_edited

Stored 'Census_2011_edited' (DataFrame)