# Create_avg_hourly_profile

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
%store -r df

In [4]:
# convert to datetime objects

df["Date"] = pd.to_datetime(df["Date"])
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S").dt.time

df.head()

        Date      Time  AVG(Consumption)
0 2009-07-15  00:00:00          0.450944
1 2009-07-15  00:30:00          0.357523
2 2009-07-15  01:00:00          0.294295
3 2009-07-15  01:30:00          0.251444
4 2009-07-15  02:00:00          0.225337

In [5]:
df.set_index(["Date", "Time"], inplace=True)

df.head()

                     AVG(Consumption)
Date       Time
2009-07-15 00:00:00          0.450944
           00:30:00          0.357523
           01:00:00          0.294295
           01:30:00          0.251444
           02:00:00          0.225337

In [6]:
df_hourly = pd.Series(
    df["AVG(Consumption)"].iloc[0::2].values + df["AVG(Consumption)"].iloc[1::2].values,
    index=df.iloc[0::2].index,
)

df_hourly

Date        Time
2009-07-15  00:00:00    0.808467
            01:00:00    0.545739
            02:00:00    0.429137
            03:00:00    0.384764
            04:00:00    0.365441
                          ...
2011-01-01  19:00:00    2.230387
            20:00:00    2.006740
            21:00:00    1.765188
            22:00:00    1.537190
            23:00:00    1.392167
Length: 12863, dtype: float64

In [7]:
%store df_hourly

Stored 'df_hourly' (Series)