# Store_avg_demand_query_in_pd

In [3]:
%load_ext sql
%load_ext lab_black

In [4]:
import sqlite3
import pandas as pd

## Connect to Database

In [5]:
from src.features import paths

path_to_data_database = paths.get_path_to_data("data.db")
path_to_data_database

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\processed\\data.db'

In [6]:
%sql sqlite:///$path_to_data_database

'Connected: @C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\processed\\data.db'

In [7]:
conn = sqlite3.connect(path_to_data_database)

conn

## Find Residential IDs using Allocation file

In [11]:
path_to_allocations = paths.get_path_to_data("SME and Residential allocations.xlsx")
allocations = pd.read_excel(path_to_allocations, usecols=[0, 1], index_col=[0])

allocations.head()

      Code
ID
1000     3
1001     3
1002     1
1003     1
1004     1

In [12]:
mask = allocations["Code"] == 1
residential_IDs = allocations[mask]

residential_IDs.head()

      Code
ID
1002     1
1003     1
1004     1
1005     1
1006     1

In [32]:
select_IDs = tuple(residential_IDs.index)
select_IDs

(1002,
 1003,
 1004,
 1005,
 1006,
 1008,
 1009,
 1013,
 1014,
 1015,
 1016,
 1018,
 1020,
 1022,
 1024,
 1025,
 1027,
 1030,
 1033,
 1034,
 1035,
 1036,
 1037,
 1039,
 1041,
 1042,
 1044,
 1045,
 1047,
 1052,
 1053,
 1054,
 1055,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1064,
 1065,
 1067,
 1068,
 1069,
 1071,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1088,
 1091,
 1093,
 1094,
 1095,
 1096,
 1099,
 1102,
 1105,
 1107,
 1108,
 1109,
 1110,
 1112,
 1115,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1126,
 1130,
 1132,
 1133,
 1134,
 1136,
 1138,
 1139,
 1140,
 1141,
 1143,
 1144,
 1147,
 1148,
 1152,
 1153,
 1155,
 1156,
 1157,
 1159,
 1160,
 1161,
 1164,
 1165,
 1166,
 1168,
 1169,
 1170,
 1171,
 1174,
 1176,
 1178,
 1179,
 1180,
 1182,
 1183,
 1184,
 1185,
 1191,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1207,
 1210,
 1212,
 1214,
 1217,
 1219,
 1220,
 1222,
 1224,
 1225,
 1227,
 1229,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1238,
 1239,
 1240,
 1241,
 1244,
 1246,
 1247,
 1250,
 1251,
 1255,
 1257,
 1260,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1273,
 1274,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1283,
 1284,
 1286,
 1288,
 1291,
 1293,
 1294,
 1295,
 1296,
 1299,
 1300,
 1301,
 1302,
 1303,
 1305,
 1309,
 1312,
 1315,
 1316,
 1317,
 1319,
 1321,
 1322,
 1323,
 1324,
 1325,
 1328,
 1329,
 1331,
 1334,
 1336,
 1337,
 1338,
 1339,
 1340,
 1341,
 1342,
 1343,
 1346,
 1347,
 1348,
 1349,
 1350,
 1351,
 1353,
 1354,
 1355,
 1359,
 1360,
 1361,
 1362,
 1364,
 1365,
 1366,
 1368,
 1371,
 1372,
 1373,
 1374,
 1376,
 1379,
 1380,
 1381,
 1382,
 1384,
 1385,
 1387,
 1388,
 1389,
 1390,
 1398,
 1399,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1410,
 1413,
 1416,
 1418,
 1420,
 1421,
 1425,
 1426,
 1428,
 1429,
 1430,
 1431,
 1432,
 1435,
 1436,
 1438,
 1440,
 1441,
 1444,
 1446,
 1451,
 1452,
 1453,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1466,
 1468,
 1469,
 1471,
 1472,
 1473,
 1475,
 1476,
 1479,
 1480,
 1481,
 1482,
 1484,
 1485,
 1486,
 1487,
 1488,
 1491,
 1492,
 1493,
 1494,
 1495,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1505,
 1506,
 1507,
 1510,
 1512,
 1514,
 1515,
 1516,
 1517,
 1521,
 1523,
 1526,
 1527,
 1528,
 1529,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1539,
 1540,
 1541,
 1542,
 1545,
 1546,
 1548,
 1549,
 1550,
 1551,
 1555,
 1556,
 1557,
 1558,
 1559,
 1561,
 1564,
 1565,
 1566,
 1567,
 1569,
 1571,
 1573,
 1575,
 1576,
 1577,
 1580,
 1581,
 1582,
 1584,
 1586,
 1587,
 1588,
 1590,
 1591,
 1592,
 1594,
 1596,
 1598,
 1599,
 1600,
 1603,
 1604,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1615,
 1618,
 1619,
 1624,
 1625,
 1626,
 1627,
 1628,
 1630,
 1632,
 1633,
 1634,
 1635,
 1639,
 1640,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1650,
 1652,
 1654,
 1656,
 1657,
 1658,
 1660,
 1661,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1679,
 1680,
 1682,
 1684,
 1689,
 1690,
 1691,
 1692,
 1694,
 1695,
 1697,
 1698,
 1700,
 1701,
 1704,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1715,
 1716,
 1717,
 1718,
 1720,
 1722,
 1724,
 1725,
 1727,
 1728,
 1729,
 1730,
 1731,
 1733,
 1734,
 1735,
 1736,
 1740,
 1741,
 1742,
 1744,
 1747,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1757,
 1758,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1767,
 1768,
 1769,
 1770,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1782,
 1786,
 1788,
 1789,
 1790,
 1791,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1801,
 1802,
 1804,
 1807,
 1808,
 1809,
 1810,
 1811,
 1812,
 1814,
 1815,
 1816,
 1817,
 1818,
 1819,
 1820,
 1821,
 1823,
 1828,
 1829,
 1831,
 1832,
 1834,
 1835,
 1836,
 1837,
 1840,
 1842,
 1843,
 1844,
 1845,
 1846,
 1847,
 1848,
 1850,
 1852,
 1854,
 1855,
 1857,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1865,
 1867,
 1869,
 1870,
 1872,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1898,
 1900,
 1903,
 1904,
 1905,
 1906,
 1907,
 1909,
 1910,
 1912,
 1914,
 1916,
 1917,
 1918,
 1919,
 1921,
 1922,
 1923,
 1926,
 1927,
 1929,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1938,
 1939,
 1941,
 1942,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1953,
 1954,
 1955,
 1959,
 1962,
 1964,
 1966,
 1969,
 1970,
 1971,
 1972,
 1975,
 1977,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1986,
 1987,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1996,
 1997,
 2000,
 2001,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2017,
 2018,
 2019,
 2021,
 2022,
 2023,
 2025,
 2027,
 2028,
 2029,
 2030,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2039,
 2040,
 2041,
 2042,
 2045,
 2046,
 2047,
 2049,
 2050,
 2052,
 2053,
 2054,
 2055,
 2056,
 2057,
 2058,
 2059,
 2061,
 2062,
 2065,
 2067,
 2069,
 2070,
 2071,
 2072,
 2073,
 2076,
 2077,
 2078,
 2080,
 2081,
 2084,
 2085,
 2086,
 2087,
 2090,
 2091,
 2092,
 2095,
 2096,
 2098,
 2099,
 2103,
 2104,
 2105,
 2106,
 2108,
 2109,
 2110,
 2112,
 2113,
 2114,
 2115,
 2116,
 2117,
 2118,
 2119,
 2121,
 2123,
 2124,
 2126,
 2129,
 2131,
 2133,
 2135,
 2138,
 2140,
 2141,
 2143,
 2144,
 2146,
 2147,
 2148,
 2149,
 2151,
 2152,
 2154,
 2156,
 2157,
 2158,
 2159,
 2160,
 2161,
 2163,
 2164,
 2166,
 2167,
 2168,
 2169,
 2172,
 2176,
 2180,
 2181,
 2182,
 2183,
 2184,
 2185,
 2187,
 2188,
 2189,
 2191,
 2192,
 2193,
 2194,
 2196,
 2197,
 2199,
 2202,
 2203,
 2205,
 2206,
 2207,
 2208,
 2209,
 2211,
 2213,
 2215,
 2217,
 2218,
 2219,
 2221,
 2222,
 2223,
 2224,
 2226,
 2228,
 2229,
 2230,
 2231,
 2232,
 2233,
 2235,
 2236,
 2238,
 2239,
 2240,
 2241,
 2243,
 2245,
 2247,
 2248,
 2249,
 2250,
 2253,
 2254,
 2255,
 2256,
 2257,
 2258,
 2259,
 2260,
 2263,
 2264,
 2265,
 2267,
 2268,
 2270,
 2271,
 2275,
 2276,
 2278,
 2281,
 2282,
 2283,
 2284,
 2285,
 2288,
 2289,
 2292,
 2293,
 2294,
 2295,
 2296,
 2297,
 2299,
 2300,
 2301,
 2302,
 2303,
 2304,
 2307,
 2308,
 2309,
 2312,
 2313,
 2314,
 2315,
 2318,
 2319,
 2320,
 2321,
 2323,
 2324,
 2327,
 2328,
 2331,
 2332,
 2333,
 2334,
 2335,
 2337,
 2338,
 2344,
 2345,
 2346,
 2347,
 2348,
 2349,
 2353,
 2354,
 2355,
 2356,
 2357,
 2358,
 2359,
 2360,
 2367,
 2369,
 2370,
 2371,
 2373,
 2374,
 2375,
 2377,
 2379,
 2381,
 2382,
 2383,
 2387,
 2388,
 2389,
 2391,
 2394,
 2395,
 2396,
 2397,
 2400,
 2403,
 2404,
 2405,
 2406,
 2407,
 2408,
 2409,
 2410,
 2412,
 2414,
 2415,
 2416,
 2417,
 2420,
 2422,
 2423,
 2424,
 2426,
 2428,
 2429,
 2431,
 2433,
 2436,
 2437,
 2438,
 2440,
 2442,
 2443,
 2444,
 2446,
 2448,
 2449,
 2453,
 2455,
 2456,
 2457,
 2458,
 2461,
 2462,
 2463,
 2464,
 2465,
 2467,
 2468,
 2469,
 2473,
 2474,
 2475,
 2476,
 2477,
 2478,
 2481,
 2482,
 2485,
 2489,
 2490,
 2491,
 2492,
 2493,
 2494,
 2496,
 2497,
 2499,
 2501,
 2502,
 2503,
 2504,
 2507,
 2508,
 2509,
 2510,
 2511,
 2512,
 2513,
 2514,
 2515,
 2518,
 2519,
 2520,
 2522,
 2523,
 2526,
 ...)

## Query Database

In [29]:
%%time

## Pull out all Residential IDs and find the average consumption

query = f"""
        SELECT Date, Time, AVG(Consumption) FROM electricity_data_ordered
        WHERE ID in {select_IDs}
        GROUP BY Date, Time;
        """

df = pd.read_sql_query(query,conn)

df.head()

Wall time: 9min 1s

         Date      Time  AVG(Consumption)
0  2009-07-15  00:00:00          0.450944
1  2009-07-15  00:30:00          0.357523
2  2009-07-15  01:00:00          0.294295
3  2009-07-15  01:30:00          0.251444
4  2009-07-15  02:00:00          0.225337

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25726 entries, 0 to 25725
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              25726 non-null  object
 1   Time              25726 non-null  object
 2   AVG(Consumption)  25726 non-null  float64
dtypes: float64(1), object(2)
memory usage: 603.1+ KB

In [31]:
%store df

Stored 'df' (DataFrame)