# Store_hourly_data_as_csv

In [12]:
%store -r df_hourly

In [13]:
df_hourly.head()

Date        Time
2009-07-15  00:00:00    1.084284
            01:00:00    0.819371
            02:00:00    0.684438
            03:00:00    0.637190
            04:00:00    0.609808
dtype: float64

In [14]:
# Store csv of data in Downloads

df_hourly = df_hourly.to_frame().reset_index()
df_hourly.rename(columns={0:"Consumption [kWh]"}, inplace=True)

df_hourly.head()

            Date      Time         0
0     2009-07-15  00:00:00  1.084284
1     2009-07-15  01:00:00  0.819371
2     2009-07-15  02:00:00  0.684438
3     2009-07-15  03:00:00  0.637190
4     2009-07-15  04:00:00  0.609808
...          ...       ...       ...
12858 2011-01-01  19:00:00  2.444566
12859 2011-01-01  20:00:00  2.205351
12860 2011-01-01  21:00:00  1.975453
12861 2011-01-01  22:00:00  1.747120
12862 2011-01-01  23:00:00  1.671803

[12863 rows x 3 columns]

In [20]:
path_to_downloads = r"C:\Users\RowanM\Downloads"
storage_path = path_to_downloads + r"\Avg_hourly_electricity_data_profile.csv"

In [22]:
df_hourly.to_csv(storage_path,index=False)