# Store_avg_demand_query_in_pd

In [5]:
%load_ext sql
%load_ext lab_black

In [6]:
import sqlite3
import pandas as pd

In [7]:
from src.features import paths

path_to_data_database = paths.get_path_to_data("data.db")
path_to_data_database

'C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\processed\\data.db'

In [8]:
%sql sqlite:///$path_to_data_database

'Connected: @C:\\Users\\RowanM\\Documents\\dublin_energy_masterplan\\Residential\\data\\processed\\data.db'

In [9]:
conn = sqlite3.connect(path_to_data_database)

conn

In [10]:
%%time

query = """
        SELECT Date, Time, AVG(Consumption) FROM electricity_data_ordered 
        GROUP BY Date, Time;
        """

df = pd.read_sql_query(query,conn)

df.head()

Wall time: 8min 32s

         Date      Time  AVG(Consumption)
0  2009-07-15  00:00:00          0.582244
1  2009-07-15  00:30:00          0.502040
2  2009-07-15  01:00:00          0.432860
3  2009-07-15  01:30:00          0.386511
4  2009-07-15  02:00:00          0.354288

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25726 entries, 0 to 25725
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              25726 non-null  object
 1   Time              25726 non-null  object
 2   AVG(Consumption)  25726 non-null  float64
dtypes: float64(1), object(2)
memory usage: 603.1+ KB

In [12]:
%store df

Stored 'df' (DataFrame)